/*--------------------------------------------------------------
# SIGNUP FORMS VARIABLES
--------------------------------------------------------------*/
.unsubscribe-form {
  margin-bottom: -2.5px;
  .background {
    position: absolute;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 140%;
    object-position: center center;
    object-fit: cover;
    @media(max-width: $seven) {
      height: 100%;
    }
  }
  .unsubscribe-inner {
    height: 175px;
    margin: 20vh 0px;
    text-align: center;
    position: relative;
    color: #fff;
    .title {
      color: #fff;
      margin-bottom: $spacing;
    }
    form {
      .hs-input {
        display: none;
      }
      .hs_email label {
        display: none;
      }
      ul {
        list-style: none;
        label {
          font-weight: normal;
        }
      }
      .hs-button {
        line-height: 1;
        padding: 15px 35px; 
        padding-top: 17.5px;
        background-color: $grey;
        text-transform: uppercase;
        color: #000;
        border-radius: 5px;
        border:1px solid transparent;
        &:focus {
          outline:none;
        }
      }
    }
    .submitted-message p {
        color: #fff;
    }
  }
}
.signup-form {
  span {
    margin-right: 20px;
    line-height: 3; 
    float: right;
    font-size: $p-small;
    color: #fff;
    @media(max-width: $twelve) {
      display: none;
    }
  } 
  .hubspotForm {  
  	width: 100%;
    font-size: $p-small;
    position: relative;
    form {
      width: 100%;
      max-width: 350px;
    }
    .hs_email {
      label {
        display: none;
      }
      .hs-input {
        background-color: transparent;
        border:1px solid $p-color; 
        padding: 10px 20px;
        height: 45px;
        width: 75%;
        max-width: 275px;
        box-shadow: none !important;
        float: left;
        color: #fff;
        border-radius: 5px 0px 0px 5px;

        appearance: none;
        -webkit-appearance: none;
        &:focus {
          outline:none;
        }
      }

    }
    .actions .hs-button {
    	float: left;
  		background-color: #fff;
  		color: #000;
  		border-radius: 0px 5px 5px 0px;
      -webkit-border-radius: 0px 5px 5px 0px;
      transition: 0.3s ease all;  
      border:1px solid #fff; 
  		padding: 7.5px 20px; 
      padding-top: 12.5px;
  		height: 45px;
      width: 25%;
  		&:hover {
  			background-color:$p-color;
        border-color: $p-color;
        border:1px solid $p-color;
        outline: none;
		  }
      &:focus {
        outline:none;
      }
    }
  }
  .hs-error-msgs {
    position: absolute;
    bottom: -45px;
    font-weight: 300;
    width: 100%;
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
    &ul {
      list-style: none;
    }
    label {
      font-weight: 400;
      float: left;
    }
  }
  .submitted-message {
    text-align: right;
    @media(max-width: $seven) {
      text-align: center;
    }
  }
  &.dark {
    .hubspotForm {  
      form {
        position: relative;
        float: left;
        width: 100%; 
        max-width: 100%;
        .hs-input {
          background-color: #fff;
          border:1px solid transparent;
          width: calc(100% - 120px);
          max-width: 100%;
          color: #000;
        }
        .actions .hs-button {
          background-color: #000;
          border-color: #000;
          color:#fff;
          width: 120px;
          &:hover {
            background-color:$grey-100;
            border-color: $grey-100;
          }
        }
      }
    }
  }
}
.page .signup-banner, .page .signup-banner-large {
  span {
    display: none;
  }
  form {
    max-width: 450px;
    display: block;
    margin: 0px auto;
    margin-top: $spacing;
    span {
      display: none;
    }
    .hs_email .hs-input {
      float: left;
      max-width: 325px;
      border:1px solid #fff;
      -webkit-appearance: none;
      appearance: none;
      color: #fff;
      @media(max-width: $seven) {
        max-width: calc(75%);

      }
      &::placeholder {
        color:#fff;
      }
    }
    .actions .hs-button {
      margin-top: 0px;
      background-color: #fff;
      border: 1px solid #fff;
      @media(max-width: $seven) {
        margin-left: 0px;
        width: 25%; 
      }
      &:focus {
        outline:none;
      }
      &:hover {
        background-color:transparent;
        color: #fff;
        border-color: #fff;
        opacity: 1;
        outline: none;
      }
    }
  }
  .hs-error-msgs {
    position: absolute;
    bottom: -$spacing*2.1;
     color:#fff;
  }
  .submitted-message {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }
}