/*--------------------------------------------------------------
# SOCIAL VARIABLES
--------------------------------------------------------------*/
.promotion-banner {
  background-color: $grey-400;
  width: 100%;
  height: $header-height;
  background-color: rgba(255,255,255,0.95);
  border-top: 1px solid $grey-300; 
  position: fixed;
  z-index: 99;
  bottom: -$header-height;
  padding: 32.5px 0px;
  transition: bottom .5s cubic-bezier(.25,.46,.45,.94);
  &.scrolling {
    bottom:0px;
  }
  @media(max-width:$seven) {
    padding: 20px 0px;
    height: 70px;
  }
  p {
    margin: 0px;
  }
  .scroll {
    text-transform: capitalize;
    cursor: pointer;
    color: $purple-100;
    position: relative;
    float: left;
    height: 35px;
    @media(max-width:$seven) {
      display: none;
    }
    span {
      display: block;
      position: relative;
      float: left;
      margin-top: 7.5px;
    }
     i {
      margin-left: 5px;
    }
  }
  @media(max-width:$seven) {
    text-align:center;
  }
  .coming-soon {
    position: relative;
    float: right;
    height: 35px;
    @media(max-width:$seven) {
      display: inline-block;
      float: none;
    }
    span {
      display: block;
      position: relative;
      float: left;
      margin-top: 7.5px;
    }
    i {
      @media(max-width:$seven) {
        font-size: 20px;
        margin-top: 7.5px;
      }
      color: #000;
      margin-left: 15px;
      font-size: 30px;
    }
  }
}

.social-icons {
  position: relative;
  float: left;
  width: 100%;
  span {
    position: relative;
    float: right;
    line-height: 2.75;
  }
  .icon {
    position: relative;
    float: right;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color: $p-color;
    border-radius: 100%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s ease all;  
    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #000;
    }
    &:hover {
      background-color:#fff;
    }
  }
}