/*--------------------------------------------------------------
# CAROUSELS SYMBOLS
--------------------------------------------------------------*/
.accordion {
	.accordion-title {
		position: relative;
		cursor: pointer;
		&:after {
			content:'';
			width: 30px;
			height: 30px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 40px;
			right: 0px;
			line-height: 1;
			background-image: url('/static/img/plus.svg');
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: center center;
		}
		h3 {
			 margin-top: 7.5px;
			 margin-bottom: 5px;
		}
	}
	.internal {
		max-height: 0px;
		overflow: hidden;
		transition: 0.5s max-height ease;
	}
	&.open {
		.accordion-title {
			&:after {
				background-image: url('/static/img/minus.svg');
			}
		}
		.internal {
			max-height: 1000px;
			transition: 0.5s max-height ease;
		}
	}
}
