/*--------------------------------------------------------------
# BLOB VARIABLES
--------------------------------------------------------------*/
 
button, .button {
	background-color: $grey-300;
	color: #000;
	border:none; 
	border-radius: 3px;  
	padding: 12.5px 40px;
	padding-top: 17.5px;
	cursor: pointer;
	font-size: $p-small;  
	line-height: 1;
	transition: 0.3s ease all;  
	&:hover { 
		background-color:#121212;  
		color: #fff;
	}
	&:focus { 
		outline: none;
	}
	&.white {
		background-color:#fff;
		color: #000; 
		&:hover {
			background-color:#000;
			color: #fff; 
		}
	}
	&.black {
		background-color:#000;
		color: #fff; 
		&:hover {
			background-color:#fff;
			color: #000; 
		}
	}
	&.hover-outline {
		border:1px solid transparent;
		&:hover {
			background-color: transparent;
			border:1px solid #fff;
		}
	}
	&.link-on-mobile {
		@media(max-width: $seven) {
			padding: 0px;
			padding-bottom: 2.5px;
			margin-top: 20px;
			border:none;
			&:after {
				content:'';
				width: 50%;
				height: 1px;
				position: absolute;
				bottom: 0px;
				background-color: #fff;
				left: 0px;
				transition: 0.3s ease width;
			}
			&:hover {
				border:none;
				&:after {
					width:100%;
				}
			}
		}
	}
} 