/*--------------------------------------------------------------
# CAROUSELS SYMBOLS
--------------------------------------------------------------*/
.slick-slider {   
	cursor: grab;
	&:active {  
		cursor: grabbing;    
		outline: none;
	}
	.slick-slide { 
		&:focus { 
			outline:none; 
		}
	}
}
.slider-extended { 
	width: 100vw;
	overflow: hidden;
	.slick-slider {
		max-height: $large-card+40px; 
	}
	.slick-list {
		width: 100vw;
	} 
}
.blog-carousel {
  .slick-slider {
    max-height: none;
  }
}
.testimonial-carousel {
  .single-card.banner {
    border-radius: 0px;
    background-color: transparent;
    cursor: grab;
    filter:blur(10px);
    transition:filter 0.25s ease-in;
    min-width: 65vw;
    @media(max-width: $seven) {
      min-width: 77.5vw;
      filter:blur(0px);
      width: 95vw;
    }
    .content {
      text-align: center;
      max-width: 400px;
      padding: 0px 15px;
      width: 100%;
      top: 55%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      z-index: 3;
      position: absolute;
      @media(max-width: $seven) {
        max-width: 80%;
        top:50%;
      }
      &:before, &:after {
        width: 10px;
        height: 10px;
        background-image: url('/static/img/testimonials/quote.png');
        transform: rotate(180deg);
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: -20px;
      }
      &:after {
        top: auto;
        bottom: -20px;
        transform: rotate(0deg);
      }
      .h3 {
        padding: 0px;
        color: #fff;
        margin: 20px 0px;
        @media(max-width: $nine) {
          font-size: $p-normal;
        }
        @media(max-width: 325px) {
          font-size: $p-small;
        }
      }
      .author {
        font-size: $p-normal;
        color: #fff;
        @media(max-width: $nine) {
          font-size: $p-small;
        }
        @media(max-width: $seven) {
          font-size: $p-small*0.75;
        }
      }
    }
    .background {
      max-width: 100%;
      object-fit: contain;
      object-position: center center;
      cursor: pointer;
      @media(max-width: $seven) {
        object-fit: contain;
      }
    }
    &:active {  
      cursor: grabbing;    
      outline: none;
    }
  }
  .slick-current {
    .single-card.banner {
      filter:blur(0px);
      .content {
        opacity: 1;
        transition:opacity 0.25s ease-in;
      }
    }
  }
}
.pillar-carousel {
  .slick-slide {
    @media(max-width: $seven) {
      padding-left: 0px;
      padding-right: 25px;
    }
  }
}
.banner-carousel {
  .single-card.banner {
    min-width: 1000px;
    border-radius: 0px;
    @media(max-width: $nine) {
      min-width: 80vw;
    }
    @media(max-width: $seven) {
      min-width: 85vw;
    }
    &.dark-on-mobile {
      &:after {
        content:'';
        position:absolute;
        width: 100%;
        height: 100%;
        background-color: $overlay-black;
        top: 0px;
        left: 0px;
        z-index: 1;
        display: none;
        @media(max-width: $six) {
          display: block;
        } 
      }
    }
    .content {
    	text-align: center;
    	max-width: 500px;
    	padding: 0px 15px;
    	width: 100%;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	position: absolute;
    	opacity: 0;
    	transition: 0.3s ease opacity; 
    	transition-delay: 0.5s;
    	h3 {
    		padding: 0px;
    	}
    	.title-container {
    		margin-bottom: 10px; 
    		h3 {
    			display: inline-block;
    			margin-right: 10px;
    		}
    		.subtitle {
    			display: inline-block;
    		}
    	} 
    }
  }
  .slick-current {
  	.single-card.banner {
   		.content {
   			opacity: 1;
   			transition: 0.75s ease opacity, 0.75s margin-top;
   			transition-delay: 0.35s;
   		}
   	}
  }
}
.post-carousel.card-container {
  margin: 0px;
  margin-bottom: $spacing*1.5; 
  .single-card.banner {
    width: 100%;
    border-radius: 0px;
    cursor: default;
  }
  .slick-slide {
    padding-top: 0px;
  }
  .slick-arrow{
    &.slick-prev, &.slick-next {
      z-index: 3;
      left: 40px;
      bottom: 40px;
      top: initial;
      border-radius: 0px;
      width: 60px;
      height: 60px;
      background-color: $overlay-white;
      transition: 0.3s ease background-color;
      transform: none;
      &:before {
        display:none;
      }
      &:after {
        content:'';
      width: 10px; 
      height: 10px; 
      background-image: url('/static/img/play.svg');
      background-size: contain;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      }
      &:hover {
        background-color: $overlay-white-100;
      }
    }
    &.slick-next {
      left: 110px;
      right: initial;
      &:after {
        transform: translate(-50%, -50%);
      }
    }
  }
}
.blog-carousel {
  .single-card.banner {
  	cursor: grab;
    width: 92.5vw;
    max-width: 1200px;
    position: relative;
    padding: 0px;
    background-color: transparent;
    border-radius: 0px;
    @media(max-width: $nine) {
      width: 90vw;
    }
    .half {
    	position: relative;
    	float: left;
    	width:60%;
    	&:nth-child(2) {
    		width: 40%;
    	}
    	@media(max-width: $seven) {
    		width:100%;
    		&:nth-child(2) {
    			width:100%;
    		}
    	}
    	.image {
    		max-width: 100%;
    		object-fit: cover;
    		object-position: center center;
        border-radius: 5px;
        cursor: pointer;
    		@media(max-width: $seven) {
    			height: 250px;
    		}
    	}
    }
    .content {
    	padding: $spacing; 
    	position: relative;
    	float: left;
    	width: 100%;
    	color: #000;
    	opacity: 1;
    	transition: 0.35s ease opacity; 
    	transition-delay: 0.5s;
    	text-align: left;
    	h3 {
    		padding: 0px;
    		color: #000;
    	}
    	.title-container {
    		margin-bottom: 10px; 
    		padding-top: $spacing;
    		.overline {
    			position: relative;
    			float: left;
    			width: 100%;
    			font-size: $p-small;
    			.likes, .comments {
    				position: relative;
    				float: right;
    				margin-left: 15px;
    				i {
    					font-size: $p-small*0.75;
    					margin-right: 5px;
    				}
    			}
    		}	
    		h3 {
    			display: inline-block;
    			margin-right: 10px;
    		}
    		.subtitle {
    			display: inline-block;
    		}
    	}
    	.excerpt {
    		font-size: $p-normal;
    		margin-top: 20px;
    		color: $p-color;
    	}
    	button {
    		margin-top: $spacing;
    	}
    }
  }
  .slick-current {
  	.single-card.banner {
   		.content {
   			opacity: 1;
   		}
   	}
  }
}
.arrow-type-two {
  .slick-slider {
    button.slick-arrow {
      position: absolute;
      z-index: 2;
      top: -60px;
      text-indent: -9999px;
      background-image: url('/static/img/right.png');
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center center; 
      right: 0px;
      opacity: 1;
      @media(max-width: $seven) {
          top: -20px;
      }
      &.slick-prev {
        right: 30px;
        left: auto;
        opacity: 0.5;
        background-image: url('/static/img/left.png');
        &:hover {
          opacity:1;
        }
      }
    }
  }
  &.centered {
    padding-bottom: $spacing;
    .slick-slider {
      button.slick-arrow {
        right: calc(50% - 40px);
        top: auto;
        bottom: -$spacing*3.5;
        background-color: $grey-300;
        border-radius: 0px;
        padding: 20px;
        background-size: 30%;
        opacity: 1;
        @media(max-width: $seven) {
          bottom:-$spacing*2.5;
        }
        @media(max-width: $six) {
          bottom:-$spacing*2;
        }
        cursor: pointer;
        &.slick-prev {
          right: auto;
          left: calc(50% - 39px);
        }
      }
    }
  }
}
.arrows-bottom {
  .slick-arrow{
    &.slick-prev, &.slick-next {
      z-index: 3;
      left: $spacing;
      bottom: $spacing;
      top: initial;
      border-radius: 0px;
      width: $spacing*1.5;
      height: $spacing*1.5;
      background-color: $overlay-white;
      transition: 0.3s ease background-color;
      transform: none;
      &:before {
        display:none;
      }
      &:after {
        content:'';
      width: 15px; 
      height: 15px; 
      background-image: url('/static/img/left-100.png');
      background-size: contain;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      }
      &:hover {
        background-color: $overlay-white-100;
      }
    }
    &.slick-next {
      left: 110px;
      right: initial;
      &:after {
        transform: translate(-50%, -50%);
      }
    }
  }
  &.mobile-arrows-top {
    @media(max-width: $seven) {
      .slick-arrow{
        &.slick-prev, &.slick-next {
          top: $spacing;
          bottom:auto;
        }
      }
    }
  }
}