/*--------------------------------------------------------------
# FORM SYMBOLS
--------------------------------------------------------------*/
#contact-form.form {
	padding-top: $spacing;
	label {
		color:#000;
		font-weight: 400;
		margin-top: 20px; 
	}
	.hs-form-required {
		display: none;
	}
	fieldset {
		max-width: 100%;
		.hs-form-field {
			@media(max-width: $seven) {
				width: 100%; 
			}
		}
	}
	input,textarea {
		background-color: transparent;
		-webkit-appearance: none;
		border:none;
		border-bottom: 1px solid #000;
		width: 100%;
		color: #000;
		font-size: $h3-size;
		box-shadow: none !important;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: $grey-200;
		}
	}
	input.hs-button {
		background-color: #000;
		color: #fff;
		border:none;
		border-radius: 3px;
		padding: 15px 40px;
		cursor: pointer;
		font-size: $p-small;
		line-height: 1;
		transition: 0.3s ease all;
		width: auto;
		margin: 0px auto;
		display: block;
		margin-top: $spacing;
		&:hover {
			background-color:#121212; 
		}

	}
	.submit-container {
		text-align: center;
		margin-top: $spacing;
	}
	.hs-error-msgs {
		margin-top: 10px;
		font-size: $p-small;
		padding-left: 10px;
		label {
			margin-top: 2.5px;
		}
	}

}