/*--------------------------------------------------------------
# LINK STYLINGS
--------------------------------------------------------------*/
.standard-link {
	position: relative;
	&:after {
		content:'';
		display: block;
		width: 0%;
		height: 2px;
		background-color: $grey;
		bottom: 2px;
		position: absolute;
		transition:0.3s ease width;
	} 
	i {
		display: none;
	}
	&:hover {
		&:after {
			width: 100%;
		}
	}
}