/*--------------------------------------------------------------
# COMMON SYMBOLS
--------------------------------------------------------------*/
.play-container {
	cursor: pointer;
	.play {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		background-color: $overlay-white;
		transition: 0.3s ease all;
		&:before {
			content:'';
			width: 10px; 
			height: 10px; 
			background-image: url('/static/img/play.svg');
			background-size: contain;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		&.isPlaying {
			&:before {
			background-image: url('/static/img/paused.svg');
			}
		}
	}
	&:hover {
		.play {
			width: 70px;
			height: 70px;
			background-color: $overlay-white-100; 
		}
	}
}
.unordered-list {
	padding: 0px;
	list-style: none; 
	li {
		position: relative;
		float: left;
		width: 100%;
		margin-bottom: 15px;
		font-size: $p-small;
		&:before { 
			content:'';
			display: block;
			width: 20px;
			height: 20px;
			background-image: url('/static/img/tick.svg');
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
	&.single-column {
		li {
			width: 100%; 
		}
	}
}

.link.arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
  background-color: $overlay-white;
  cursor: pointer;
  z-index: 2;
  border-radius: 100%;
  transition:0.3s ease all 0s;
  i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: $p-small;
    transform: translate(-50%,-50%);
    transition:0.3s ease all 0s; 
  }
  &:hover { 
  	background-color: $overlay-white-100;
  	
  }
  &.rotate {
  	transform: rotate(180deg);
  }
  &.dark {
  	background-color: $overlay-grey;
  }
}

.read-less, .read-less {
	transition:0.3s ease all 0s;
	margin-top: 10px;
	position: absolute;
	left: 30px;
	bottom:20px;
	z-index: 2;
	color: $p-color;
	font-size: $p-normal;
	&:before {
		content:'Read less';
	}
}
.read-more {
	&:before {
		content:'Read more';
	}
}