/*--------------------------------------------------------------
# TABBED CONTENT SYMBOLS
--------------------------------------------------------------*/
.tabbed-content {
	.navigation-tabs {
		a {
			position: relative;
			float: left;
			width: 50%;
			color: #000;
			text-align: center;
			padding: 25px 10px;
			font-size: $p-small;
			border-radius: 5px 5px 0px 0px;
			&:hover {
				background-color: $grey-300;
			}
		}
		.active {
			a { 
				background-color: #fff;
			}
		}
	}
	.tab-content {
		.tab-pane {
			background-color: $grey-300;
			.wrapper.white {
				background-color: #fff;
				border-radius: 0px 0px 5px 5px;
			}
			.inner {
				padding: $spacing*2 15px;
				max-width: 550px;
				margin:0px auto; 
				@media(max-width: $seven) {
					padding: $spacing 15px;
				}
			}
			.image {
				max-width: 100%;
			}
			.content {
				margin-top: $spacing;
				strong {
					color: #000;
					font-weight: normal;
				}
			}
		}
	}
}
.tabbed-posts {
	.navigation-tabs {
		text-align: center;
		li {
			display: inline-block;
			width: 25%;
			a {
				position: relative;
				color: #000;
				text-align: center;
				padding: 25px 10px;
				font-size: $p-small;
				&:after {
					content:'';
					display: block;
					position: absolute;
					bottom: 1px;
					left: 0px;
					width: 100%;
					height: 1px;  
					background-color: #000;
					transition: 0.3s ease width;
					width: 0%;
					@media(max-width: $twelve) {
						bottom: 0px;
					} 
				}
				&:hover {
					background-color: transparent;
					&:after {
						width:100%;
					}
				}
			}
		}
		.active {
			a {
				background-color: transparent;
				&:after {
						width:100%;
				}
			}
		}
	}
	.tab-content {
		background-color: $grey-300;
		.tab-pane {
			display: block;
			max-height: 0px; 
			overflow: hidden;
			padding: 0px 15px; 
			opacity: 0;
			-webkit-transform: translateY(30px);
	    	transform: translateY(30px);
			position: relative;
			-webkit-transition: opacity .75s ease,-webkit-transform .75s ease;
		    transition: opacity .75s ease,-webkit-transform .75s ease;
		    transition: opacity .75s ease,transform .75s ease;
		    transition: opacity .75s ease,transform .75s ease,-webkit-transform .75s ease;
			transition: opacity .75s ease,transform .75s ease,-webkit-transform .75s ease;
			.content.container {
				margin: $spacing*2 auto;
				strong {
					color: #000;
					font-weight: normal;
				}
			}
			&.active {
				max-height: 100000px;
				opacity: 1;
			    -webkit-transform: none;
			    transform: none;
			}
		}
	}
}