/*--------------------------------------------------------------
# VIDEO STYLING
--------------------------------------------------------------*/
.video-player {
	.video {
		height: 300px;
		width: 100%;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		@media(max-width: $twelve) {
    	  height: 250px;
    	}
    	@media(max-width: $nine) {
    	  height: 200px;
    	}
    	@media(max-width: $seven) {
    	  height: 250px;
    	  max-width:400px;
    	}
		.background {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			background-color: rgba(0,0,0,0.35);
			z-index: 2;
			opacity: 0;
			transition: 0.75s ease opacity;
		}
		&:hover {
			&:after {
				opacity:1;
			}
		}
	}
	.audio {
		iframe {
			body {
				background-color: transparent;
			}
		}
	}
	.content {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 3; 
		text-align: center;
		width: 80%;
		@media(max-width: $seven) {
			top: 50%;
			padding-bottom: 0px !important;
		}
		.title {
			margin-bottom: 20px;
			color: #fff;
		}
		.play {
			display: inline-block;
			position: relative;
			left: auto;
			top: auto;
			transform: none;
		}
		.time {
			color: #fff;
			opacity: 0;
			&.isPlaying {
				opacity: 1;
			}
		}
	}
	.video-popup {
		display: none;
	}
}
.featherlight-content {
		.internal {
			width: 95vw;
			max-width: 1000px;
			padding-top: 50%; 
			position: relative; 
			overflow: hidden;
			iframe {
				position: absolute; 
				height: 100%; 
				width: 100%; 
				left: 0px; 
				top: 0px;
			}
		}
	}