/*--------------------------------------------------------------
# ANIMATING ARTICLE VARIABLES
--------------------------------------------------------------*/
.animating-articles {
  .content-section {  
    max-width: 100vw;
    overflow: hidden;
    article {
      position: relative;
      float: left; 
      width: 100%; 
      padding:10vh 0px;
      &.no-padding-bottom {
        padding-bottom:0px;
      }
      &.no-padding-top-mobile {
        @media(max-width:$seven) {
          padding-top: 0px;
        }
      }
      &.no-padding-bottom-mobile {
        @media(max-width:$seven) {
          padding-bottom: 0px;
        }
      }
      .half {
        position: relative;
        float: left;
        width: 50%;
        @media(max-width:$seven) {
          width: 100%;
        }
        &.padding-left-mobile {
          @media(max-width:$seven) {
            padding-left: 20px;
          } 
        }
        &.padding-left {
          @media(max-width:$twelve) {
            padding-left: 30px;
          } 
        }
        &.padding-left-large {
          @media(max-width:$twelve) {
            padding-left: 45px;
          } 
        }
        &.padding-right-mobile {
          @media(max-width:$seven) {
            padding-right: $spacing*2;
          } 
        }
        &.margin-top-mobile {
          @media(max-width:$seven) {
            margin-top: $spacing*2;
          }
        }
      }
      .image-container {
        max-width: 400px;
        width: 100%;
        min-height: 400px;
        position: relative;
        float: right;
        @media(max-width:$seven) {
          float:none;
          margin: 0px auto;
        }
        &.extended {
           max-width: 500px;
        }
        &.left {
          float: left;
          @media(max-width:$seven) {
            float:none;
          }
        }
        .circle {
          width: 100px;
          height: 100px;
          background-color: #eee;
          border-radius: 100%;
          position: absolute;
          @media(max-width:$seven) {
            &.with-gradient {
              background: #eee;
              background-image: url('/static/img/blob/gradient.png');
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center;
              transform-style: unset;
              perspective: unset;
              box-shadow: none !important;
              &:before {
                display:none;
                background: $teal;
              }
              &:after {
                display:none;
                background: $pink;
              }
            }
          }
          &.x-large {
            width: 300px;
            height: 300px;
            transform: translate(-50%,-50%);
            &:after {
              -webkit-filter: blur(60px);
              -moz-filter:blur(60px);
              -o-filter: blur(60px);
              -ms-filter: blur(60px);
              filter: blur(60px);
            }
          }
          &.large {
            width: 200px;
            height: 200px;
            transform: translate(-50%,-50%);
          }
          &.medium {
            width: 150px;
            height: 150px;
            transform: translate(-50%,-50%);
            box-shadow: inset 20px 20px 100px rgba(255, 255, 255, 0.1);
            @media(max-width:$twelve) {
              width: 145px;
              height: 145px;
            }
            @media(max-width:$six) {
              width: 125px;
              height: 125px;
            }
            &.mobile-small {
              @media(max-width:$six) {
                width: 92.5px;
                height: 92.5px;
              }
            }
          }
          &.no-shadow {
            box-shadow: inset 20px 20px 100px rgba(255, 255, 255, 0.1);
          }
          &.small {
            width: 50px;
            height: 50px;
            transform: translate(-50%,-50%);
          }
          &.with-rotation {
            transform-origin: 200% center;
          }
          &.will-rotate {
            transform: rotate(90deg);
            top: -60px;
            position: absolute;
            span {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
              font-size: 60px;
              font-weight: 100;
              margin-top: 10px;
              color: #fff;
              z-index: 5;
            }
          }
        }
        span.percentage {
          position: relative;
          padding-right: 10px;
          &::after {
            content: "%";
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: $p-small; 
            font-weight: normal;
            letter-spacing: normal;
          }
        }
      }
      .image {
        background-color: #eee;
        width: 100%;
        max-width: 425px;
        height: 425px; 
        border-radius: 100%;
      }
      .content-area {
        .inner {
          max-width: 450px;
          float: right; 
          @media(max-width:$seven) {
            float:none;
            margin: 0px auto;
          }
        }
        &.with-margin {
          margin-top: $spacing*2;
          @media(max-width:$seven) {
            margin-top: 0px;
          }
        }
        &.with-background {
          .title {
            background-color: #fff;
          }
          .excerpt {
            background-color: #fff;
          }
        }
        .title {
          min-height: 75px;
          width: 100%;
          margin-bottom: 25px;
        }
        .content {
          width: 100%;
          min-height: 250px;
          margin-bottom: 25px;
        }
        .button {
          width: 40%;
          min-height: 50px;
          background-color: #eee;
          margin-bottom: 25px;
        }
      }
      .inner-content {
        position: relative;
        z-index: 2;
      }
      .background-container {
        @media(max-width:$seven) {
          transform: rotate(115deg);
          position: absolute;
          top: 50%;
          left: 50%;
          .background {
            .image-container {
              .circle.will-rotate {
                transform: rotate(-25deg);
                top:-30px;
              }
            }
          }
        }
      }
      .background {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
       
        z-index: 1;
        width: 600px; 
        height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('/static/img/science/background.png');
        span {
          opacity: 0;
          transition:opacity 0.3s ease-in 0s;
        }
        &.show-text {
          span {
            opacity: 1;
            transition:opacity 0.3s ease-in 1.3s;
          }
        }
      }
      &.rhs {
        .content-area {
          .inner {
            float: left;
            @media(max-width:$seven) {
              float:none;
            }
          }
        }
      }
    }
  }
  .half.mobile-right.padding-left-large {
    @media(max-width:320px) {
      padding-left: 25px !important; 
    }
  }
  .pendulum {
    .pendulum-1,.pendulum-2, .pendulum-3 {
      @media(max-width:320px) {
        width: 80px !important;
        height: 80px !important;
      }
    }
    .pendulum-2 {
      @media(max-width:$six) {
        margin-left: 1px;
      }
    }
  }
  .image-container.animation-container-1 {
    .one {
      left:50%;
      top:40%;
    }
    .two.circle.x-large {
      left:50%;
      top:40%;
      width: 180px;
      height: 180px;
    }
  }
}