/*--------------------------------------------------------------
# ARTICLES VARIABLES
--------------------------------------------------------------*/

.article-container {
  position: relative;
  float: left;
  width: 100%;
  margin-top: $spacing*2;
  .article {
    margin: $spacing 0px;
    padding: $spacing*2 0px;
    position: relative;
    float: left;
    width: 100%;
    @media(max-width: $seven) {
      padding: $spacing*0.5 10px;
    }
    .half {
      position: relative;
      float: left;
      width: 50%;
      padding: 5px 0px;
      @media(max-width: $seven) {
          width: 100%;
      }
      &.image {
        @media(max-width: $seven) {
          margin-bottom: $spacing*0.5;
        }
        img { 
          max-width: 80%;
          @media(max-width: $seven) {
            max-width: 70%;
            display: block;
            margin: 0px auto;
          }
        }
      }
      &.content {
        padding-left: $spacing;
        @media(min-width: $twelve) {
          padding-top: $spacing*2;
        }
        @media(max-width: $seven) {
          padding-left: 0px;
        }
        .overline {
          font-weight: normal;
          display: block;
        }
        .title {
          padding-top: 10px;
          padding-bottom: $spacing*0.5;
          background-color: #fff;
        }
        .excerpt {
          background-color: #fff;
        }
        button {
          margin-top: $spacing;
        }
      }
    }
    &:nth-child(2n) {
      @media(max-width: $seven) {
          margin:$spacing 0px;
      }
      .half {
        float: right;
        &.image {
          img {
            float: right;
            @media(max-width: $seven) {
              float: none;
            }
          }
        }
        &.content {
          padding-left: 0px;
          padding-right: $spacing;
          @media(max-width: $nine) {
            padding-right: 0px;
          }
        }
      }
    }
    &.with-background {
      margin-top:$spacing*1;
      margin-bottom:$spacing*2.5; 
      .half {
        @media(max-width: $seven) {
          float: right; 
        }
        &.image {
          img {
            float: right;
            @media(max-width: $nine) {
              float: none;
              max-width: 100%;
            }
          }
        }
      }
      .background-image {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        @media(max-width: $seven) {
          position: relative;
          transform: none;
          top: initial;
          left: initial;
          z-index: 1;
        }
      }
    }
  } 
}
