/*--------------------------------------------------------------
# BANNER VARIABLES
--------------------------------------------------------------*/
.banner.tile-banner {
  background-color: $grey-300;
  padding: $spacing $spacing*2;
  position: relative;
  border-radius: 5px;
  float: left;
  width: 100%;
  @media(max-width: $seven) {
    padding: $spacing;
  }
  .inner {
    text-align: left;
   
    .title {
      color: $purple; 
      margin-bottom: 0px;
    }
    .content {
      margin-bottom: $spacing*2;
      margin-top: 0px;
      @media(max-width: $seven) {
        margin-bottom: $spacing;
      }
    }
    .coming-soon {
      position: absolute;
      bottom:$spacing;
      right: $spacing*2;
      color:$purple;
      @media(max-width: $seven) {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 20px;
        bottom: auto;
        right: auto;
      }
      i {
        margin-left: 5px;
      }
    }
  }
}
.banner.resources {
  .content-area {
    padding-top: $spacing*6;
    @media(max-width: $nine) {
      padding-top: $spacing*4;
    }
    @media(max-width: $seven) {
      padding-top: $spacing;
    }
    .inner {
      max-width: 350px;
      @media(max-width: $seven) {
        display: block;
        margin:0px auto;
        margin-bottom: $spacing;
      }
    }
  }
  .animation-container {
    @media(max-width: $seven) {
      max-width: 450px;
      margin:0px auto;
      position: relative;
    }
  }
  #video-1 {
    position: absolute;
    top: 10%;
    left: 0px;
    max-width: 75%;
    @media(max-width: $twelve) {
      left: 10px;
      top: 10%;
    }
    @media(max-width: $nine) {
      top: 7.5%;
    }
    @media(max-width: $seven) {
      max-width:400px;
      width:75%;
    }
    @media(max-width: 325px) {
      height:210px;
    }
  }
  #video-2 {
    position: absolute;
    bottom: 10%;
    right: 0px;
    max-width: 75%;
    z-index: 5;
    @media(max-width: $twelve) {
      bottom: 10%;
    }
    @media(max-width: $nine) {
      bottom: 7.5%;
    }
    @media(max-width: $seven) {
      max-width:400px;
      width:75%;
    }
    @media(max-width: 325px) {
      height:210px;
    }
  }
}