/*--------------------------------------------------------------
# LAYOUT
--------------------------------------------------------------*/
.container-full {
    padding: 0 50px;
    @media(max-width: $seven) {
        padding: 0 30px;
    }
}
.body-wrapper.beta {
    margin-bottom: -610px;
}
/*--------------------------------------------------------------
# HEADER OVERRIDES
--------------------------------------------------------------*/
#masthead.beta {
    overflow: visible;
    border-bottom: 0;
    @media(max-width: $seven) {
       
    }
    .logo {
        float: right;
        z-index: 100;
        @media(max-width: $seven) {
            transform: rotate(-90deg);
            transform-origin: bottom right;
           
            margin-top: 15px;
        }
        @media(max-width: $four) {
            max-width: 100px;
        }
    }
    .welcome-beta {
        color: $purple;
        float: left;
        font-size: 18px;
        font-weight: 500;
        margin-top: 40px;
        text-align: left;
        @media(max-width: $seven) {
            width: 100px;
            margin-top: 30px;
        }
    }
}
/*--------------------------------------------------------------
# BLOB HOLDER
--------------------------------------------------------------*/
.beta-blob-outer {
    width: 60vw;
    height: 60vw;
    max-width: 900px;
    max-height: 900px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    .beta-blob-inner {
        width: 130%;
        height: 130%;
        position: absolute;
        top: -60%;
        right: -30%;
        @media(max-width: $seven) {
            top: -40%;
        }
    }
}

/*--------------------------------------------------------------
# AUDIO PLAYER
--------------------------------------------------------------*/
.beta.video-player {
    .video {
        margin-top: 100px;
        height: 100px;
        &:after {
        display: none !important;
        }
    }
    .content {
        transform: translateX(0);
        left: 0;
        top:0;
        position: relative;
        text-align: left;
        .time {
            color: $p-color;
        }
    }
    .play-container .play {
        background: #f1f5f9;
        &:before {
            background-image: url('/static/img/play-black.svg');
        }
        &.isPlaying:before {
            background-image: url('/static/img/paused-black.svg');
        }
    }
}
.beta-session-info {
    overflow: hidden;
    margin-bottom: 40px;
    h4 {
        color: #000000;
        font-size: 18px; margin-bottom: 20px;
    }
    .session-toggle {
        margin-top: 40px;
        a {
            width: 110px;
            height: 34px;
            float: left;
            display: block;
            text-align: center;
            font-size: 14px;
            color: #000000;
            border: 2px solid #f1f5f9;
            line-height: 34px;
            &:first-child {
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            &:last-child {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
            &.active {
                background: #f1f5f9;
            }
        }
    }
}
.beta-session-tiles {
    max-width: 600px;
    clear: both;
    .beta-image-tile {
        margin-bottom: 40px;
        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
        @media(max-width: $seven) {
            margin-bottom: 30px;
        }
    }
    .beta-content-tile {
        padding: 50px;
        font-size: 14px;
        color: #000000;
        margin-bottom: 40px;
        background: #f4f6fb;
        border-radius: 5px; 
        @media(max-width: $seven) {
            margin-bottom: 30px;
            padding: 30px;
        }
        ul.evidence li {
            margin-bottom: 10px;
        }
        ul.resources {
            margin: 0 0 20px;
            padding: 0;
            li {
                list-style: none;
                margin: 0 0 10px;
                a {
                    position: relative;
                    padding: 10px 15px 7px 35px; background: #fff;
                    display: block;
                    border-radius: 5px;
                    color: #000;
                    font-weight: bold;
                    &.book {
                        &:after {
                            content: "";
                            position: absolute;
                            top: 7px;
                            left: 10px;
                            width: 20px;
                            height: 20px;
                            background-repeat: no-repeat;
                            background-image: url("data:image/svg+xml,%3Csvg width='55' height='62' viewBox='0 0 55 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55 47.4688V2.90625C55 1.2957 53.6864 0 52.0536 0H9.82143C4.39509 0 0 4.33516 0 9.6875V54.25C0 58.5307 3.5173 62 7.85714 62H53.5268C54.3371 62 55 61.3461 55 60.5469V59.5781C55 58.7789 54.3371 58.125 53.5268 58.125H53.1217C52.6306 55.6789 52.7288 52.1066 53.1708 50.157C54.2388 49.7211 55 48.6797 55 47.4688ZM49.635 58.125H7.85714C5.68783 58.125 3.92857 56.3897 3.92857 54.25C3.92857 52.1103 5.68783 50.375 7.85714 50.375H49.635C49.279 52.6516 49.2545 55.6547 49.635 58.125ZM51.0714 46.5H7.85714C6.4183 46.5 5.08873 46.9093 3.92857 47.5753V9.6875C3.92857 6.47852 6.56808 3.875 9.82143 3.875H51.0714V46.5Z' fill='%236C2AF1'/%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-size: auto 100%;
                        }
                    }
                    &.video {
                        &:after {
                            content: "";
                            position: absolute;
                            top: 8px;
                            left: 8px;
                            width: 20px;
                            height: 20px;
                            background-repeat: no-repeat;
                            background-image: url("data:image/svg+xml,%3Csvg width='63' height='63' viewBox='0 0 63 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.984375 31.5C0.984375 48.3574 14.6426 62.0156 31.5 62.0156C48.3574 62.0156 62.0156 48.3574 62.0156 31.5C62.0156 14.6426 48.3574 0.984375 31.5 0.984375C14.6426 0.984375 0.984375 14.6426 0.984375 31.5ZM31.5 4.92188C46.1057 4.92188 58.0781 16.7467 58.0781 31.5C58.0781 46.1057 46.2533 58.0781 31.5 58.0781C16.8943 58.0781 4.92188 46.2533 4.92188 31.5C4.92188 16.8943 16.7467 4.92188 31.5 4.92188ZM27.5625 19.6875L39.375 31.5L27.5625 43.3125V19.6875ZM23.625 43.3125C23.625 46.807 27.8701 48.5789 30.3434 46.0934L42.1559 34.2809C43.6939 32.7428 43.6939 30.2449 42.1559 28.7068L30.3434 16.8943C27.8701 14.4211 23.625 16.1684 23.625 19.6752V43.3125Z' fill='%236C2AF1'/%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-size: auto 100%;
                        }
                    }
                    &.article {
                        &:after {
                            content: "";
                            position: absolute;
                            top: 8px;
                            left: 8px;
                            width: 20px;
                            height: 20px;
                            background-repeat: no-repeat;
                            background-image: url("data:image/svg+xml,%3Csvg width='47' height='63' viewBox='0 0 47 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.2742 12.0449L35.0052 1.72129C33.9036 0.613867 32.4104 -0.0136719 30.856 -0.0136719H5.875C2.63151 -0.00136719 0 2.64414 0 5.90488V57.0924C0 60.3531 2.63151 62.9986 5.875 62.9986H41.125C44.3685 62.9986 47 60.3531 47 57.0924V16.2285C47 14.6658 46.3758 13.1523 45.2742 12.0449ZM42.5081 14.8381C42.7651 15.0965 42.9365 15.4041 43.0221 15.7486H31.3333V3.99766C31.676 4.08379 31.982 4.25605 32.2391 4.51445L42.5081 14.8381ZM41.125 59.0611H5.875C4.79792 59.0611 3.91667 58.1752 3.91667 57.0924V5.90488C3.91667 4.82207 4.79792 3.93613 5.875 3.93613H27.4167V16.733C27.4167 18.3695 28.7263 19.6861 30.3542 19.6861H43.0833V57.0924C43.0833 58.1752 42.2021 59.0611 41.125 59.0611ZM35.25 29.0377V30.0221C35.25 30.8342 34.5891 31.4986 33.7812 31.4986H13.2188C12.4109 31.4986 11.75 30.8342 11.75 30.0221V29.0377C11.75 28.2256 12.4109 27.5611 13.2188 27.5611H33.7812C34.5891 27.5611 35.25 28.2256 35.25 29.0377ZM35.25 36.9127V37.8971C35.25 38.7092 34.5891 39.3736 33.7812 39.3736H13.2188C12.4109 39.3736 11.75 38.7092 11.75 37.8971V36.9127C11.75 36.1006 12.4109 35.4361 13.2188 35.4361H33.7812C34.5891 35.4361 35.25 36.1006 35.25 36.9127ZM35.25 44.7877V45.7721C35.25 46.5842 34.5891 47.2486 33.7812 47.2486H13.2188C12.4109 47.2486 11.75 46.5842 11.75 45.7721V44.7877C11.75 43.9756 12.4109 43.3111 13.2188 43.3111H33.7812C34.5891 43.3111 35.25 43.9756 35.25 44.7877Z' fill='%236C2AF1'/%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-size: auto 100%;
                        }
                    }
                }
            }
        }
    }
}
.beta-tabs {
    position: fixed;
    width: 100%;
    display: flex;
    height: 80px;
    border-top: 1px solid #f1f5f9;
    bottom: 0;
    left: 0;
    z-index: 100;
    @media(max-width: $seven) {
        height: 60px;
    }
    a {
        width: calc(100% / 6);
        box-sizing: border-box;
        display: block;
        border-left: 1px solid #f1f5f9;
        background: #ffffff;
        height: 80px;
        padding: 30px 0;
        text-align: center;
        color: #b3b3be;
        font-size: 18px;
        transition: color 300ms ease-in, background 300ms ease-in;
        span.beta-cat {
            display: none;
            width: 100%;
            text-align: center;
        }
        &:hover {
            background: $purple;
            color: #fff;
            text-decoration: none;
        }
        &.active {
            color: $purple;
            background: #fff;
        }
        span.session-number {
            display: none;
        }
        @media(max-width: $seven){
            height: 60px;
            padding: 20px 0;
            span.session-text {
                display: none;
            }
            span.session-number {
                display: block;
            }
            span.beta-cat {
                display: none;
            }
        }
    }
}

.video-player.beta-wrap {
    margin-bottom: 60px;
    max-width: 340px;
    .video {
        height: 200px;
        width: calc(100% - 40px);
        .background {
            width: 150%;
            height: 150%;
            margin-left: -25%;
            margin-top: -25%;
        }
        &:nth-child(2) {
            margin-left: 40px;
            margin-top: -20px;
        }
        .content {
            margin-top: 20px;
            .title {
                    font-size: 18px;
            }
        }
        &#video-1 {
            z-index: 4 !important;
        }
    }

}
.beta-session-info {
    margin-top: 150px;
}
.hs-form-iframe {
    width: 100% !important;
}

.beta .video-player {
    .video {
        pointer-events: auto !important;
    }
    .content {
        .play {
            display: inline-block !important;
        }
    }
}