/*--------------------------------------------------------------
# BLOB VARIABLES
--------------------------------------------------------------*/

$teal: 				#90D0C5;
$blue:				#7b9ccc;
$purple:			#6C2AF1;
$magenta:			#D529AB;
$red:				#FF434F;
$pink:				#ED7C6D;
$yellow:			#EDE48E;
$cyan:				#21a9e9;

$speed-transform:	40s; /* 30s */
$speed-move:		45s; /* 20s */
$speed-shade:		15s; /* 25s */	  


.animating-container {
	&.large {
		width: 50vh;
		height: 50vh;
		max-height: 400px;
		max-width: 400px;
		position: relative;
		@media(max-width: $nine) {
			max-height: 365px;
			max-width: 365px;
		}
		@media(max-width: $seven) {
			max-height: 300px;
			max-width: 300px;
		}
	}
}
.blob{  
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		z-index: 1;
		background: linear-gradient(
	        270deg,
	        $pink,
	        $purple,
	        $blue,
	        $teal,
	        $blue,
	        $purple,
	        $magenta,
	        $red,
	        $pink,
	        $magenta, 
	        $purple 
	    );
	    background: linear-gradient(
	        200deg,
	        $purple,
	        $blue,
	        $teal,
	        $blue,
	        $purple,
	        $teal,
	        $purple 
	    );
		background-size: 3000% 3000%;
		box-shadow: inset 20px 20px 100px rgba(255, 255, 255, 0.5);
		border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
		transform-origin: 50% 50%;
		transform-style: preserve-3d;
		perspective: 1000px;
		animation: 
		blob-transform $speed-transform ease-in-out infinite both alternate,
		blob-shade $speed-shade linear infinite both;
		@media(max-width:$seven) {
			box-shadow:none;
		}
	}
	&:after {
		content: '';
		opacity: 1;
		position: absolute;
		top: 22.5%;
		left: 17.5%;
		width: 60%;
		height: 60%;
		z-index: 2;
		margin-bottom: 50px;
		-webkit-filter: blur(45px);
		-moz-filter: blur(45px);
		-o-filter: blur(45px);
		-ms-filter: blur(45px);
		filter: blur(45px);
		background: linear-gradient(
	                270deg,
	                $pink,
	                $purple,
	                $blue,
	                $teal,
	                $blue,
	                $purple,
	                $magenta,
	                $red,
	                $pink,
	                $magenta, 
	                $purple 
	              );
		background: linear-gradient(
	        270deg,
	        $purple,
	        $blue,
	        $teal,
	        $blue,
	        $purple,
	        $teal,
	        $purple 
	    );
		background-size: 3000% 3000%;
		box-shadow: inset 0px -20px 100px rgba(255, 255, 255, 0.6);
		transform-origin: 50% 50%;
		transform-style: preserve-3d;
		perspective: 1000px;
		animation: 
		blob-transform $speed-transform+15 ease-in-out infinite both alternate,
		blob-movement-minimal $speed-move+15 ease-in-out infinite both,
		blob-shade $speed-shade+20 linear infinite both;
		@media(max-width:$seven) {
			box-shadow:none;
			width: 50%;
			height: 50%;
			-webkit-filter: blur(35px);
			-moz-filter: blur(35px);
			-o-filter: blur(35px);
			-ms-filter: blur(35px);
			filter: blur(35px); 
			animation: blob-shade $speed-shade+20 linear infinite both;
		}
	}
}
.with-gradient{
	background: linear-gradient(
	    270deg,
	    $pink,
	    $purple,
	    $blue,
	    $teal,
	    $blue,
	    $purple,
	    $magenta,
	    $red,
	    $pink,
	    $magenta, 
	    $purple 
	);
	background-image: linear-gradient(
	    270deg,
	    $pink,
	    $purple,
	    $blue,
	    $teal,
	    $blue,
	    $purple,
	    $magenta,
	    $red,
	    $pink,
	    $magenta, 
	    $purple 
	);
	overflow: hidden;
	background-size: 3000% 3000%;
	box-shadow: inset 20px 20px 100px rgba(255, 255, 255, 0.5);
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	perspective: 1000px;
	background-position:51% 50%;
	&:after {
		content: '';
		opacity: 1;
		position: absolute;
		top: 22.5%;
		left: 17.5%;
		width: 40%;
		height: 40%;
		z-index: 2;
		-webkit-filter: blur(15px);
		-moz-filter: blur(15px);
		-o-filter: blur(15px);
		-ms-filter: blur(15px);
		filter: blur(15px);
		border-radius: 100%;
		background: linear-gradient(
            270deg,
            $pink,
            $purple,
            $blue,
            $teal,
           	$blue,
            $purple,
            $magenta,
            $red,
            $pink,
            $magenta, 
            $purple 
        );
       	background-image: linear-gradient(
            270deg,
            $pink,
            $purple,
            $blue,
            $teal,
           	$blue,
            $purple,
            $magenta,
            $red,
            $pink,
            $magenta, 
            $purple 
        );
		background-size: 3000% 3000%;
		box-shadow: inset 0px -20px 100px rgba(255, 255, 255, 0.6);
		transform-origin: 50% 50%;
		transform-style: preserve-3d;
		perspective: 1000px;
		background-position:45% 50%;
	}
	&.x-large {
		box-shadow: inset 20px 20px 100px rgba(255, 255, 255, 0.3);
		&:after {
			top: 40.5%;
			left: 40.5%;
			-webkit-filter: blur(45px);
			-moz-filter: blur(45px);
			-o-filter: blur(45px);
			-ms-filter: blur(45px);
			filter: blur(45px);
			background-position:15% 50%;
	  }
	}
	&.no-shadow {
		box-shadow: inset 20px 20px 100px rgba(255, 255, 255, 0.17);
	}
	&.gradient-100 {
		background-position: 90% 50%;
		&:after {
			top: 11.5%;
		    left: 0%;
		    width: 65%;
		    height: 65%;
		    background-position: 37% 50%;
		    -webkit-filter: blur(30px);
			-moz-filter:blur(30px);
			-o-filter: blur(30px);
			-ms-filter: blur(30px);
			filter: blur(30px);
		}	
	}
	&.gradient-200 {
		background-position: 90% 50%;
		&:before {

		}
		&:after {
			top: 50%;
		    left: 50%;
		    width: 75%;
		    height: 75%;
		    background-position: 15% 50%;
		    -webkit-filter: blur(65px);
			-moz-filter:blur(65px);
			-o-filter: blur(65px);
			-ms-filter: blur(65px);
			filter: blur(65px);
		}	
	}
	&.secondary-gradient {
		&:before {
			content: '';
			opacity: 1;
			position: absolute;
			top: -25%;
		    left: -25%;
		    width: 75%;
		    height: 75%;
			z-index: 2;
			-webkit-filter: blur(65px);
			-moz-filter:blur(65px);
			-o-filter: blur(65px);
			-ms-filter: blur(65px);
			filter: blur(65px);
			border-radius: 100%;
			background: linear-gradient(
	            270deg,
	            $pink,
	            $purple,
	            $blue,
	            $teal,
	           	$blue,
	            $purple,
	            $magenta,
	            $red,
	            $pink,
	            $magenta, 
	            $purple 
	        );
	        background-image: linear-gradient(
	            270deg,
	            $pink,
	            $purple,
	            $blue,
	            $teal,
	           	$blue,
	            $purple,
	            $magenta,
	            $red,
	            $pink,
	            $magenta, 
	            $purple 
	        );
			background-size: 3000% 3000%;
			box-shadow: inset 0px -20px 100px rgba(255, 255, 255, 0.6);
			transform-origin: 50% 50%;
			transform-style: preserve-3d;
			perspective: 1000px;
			background-position:65% 50%;
		}
		&.secondary-two {
			&:before {
				top: 25%;
		    	left: 25%;
		   	}
		}
		&.secondary-three {
			&:before {
				top: 15%;
    			left: 30%;
    			-webkit-filter: blur(30px);
			    -moz-filter: blur(30px);
			    -o-filter: blur(30px);
			    -ms-filter: blur(30px);
			    filter: blur(30px);
			    background-position: 70% 50%;
		   	}
		}
		&.secondary-four {
			&:before {
				top: 0%;
    			left: 40%;
    			-webkit-filter: blur(30px);
			    -moz-filter: blur(30px);
			    -o-filter: blur(30px);
			    -ms-filter: blur(30px);
			    filter: blur(30px);
			    background-position: 25% 50%;
		   	}
		}
	}
}
.floating {
	animation:floating 2.5s infinite alternate cubic-bezier(.43,.05,.6,.99);
}

$move-100: 		20s;
$shade-100: 	30s;
$transform-100: 15s;
.blob-container {
  width:100px;
  height:100px;
  position: relative;
  @media(max-width: $seven) {
  	margin:0px auto;
  }
  .blob-dark {
  	  position: relative;
	  width:100%;
	  height:100%;
	  background-color:#000;
	  box-shadow: inset 20px 20px 100px rgba(255, 255, 255, 1);
	  border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
	  overflow:hidden;
	  
	  animation: 
			blob-movement $move-100 ease-in-out infinite both alternate,
			blob-transform $transform-100 ease-in-out infinite both,
			blob-shade $shade-100 linear infinite both;
	  &:before {
			content: '';
			display: block;
			position: absolute;
			width: 90%;
			height: 90%;
			top: 0%;
			right: 10%;
			z-index: 1;
			background-color:#000;
			border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
			transform-origin: 50% 50%;
			transform-style: preserve-3d;
			perspective: 1000px;
	    filter:blur(10px);
			animation: 
			blob-movement $move-100 ease-in-out infinite both alternate,
			blob-transform $transform-100 ease-in-out infinite both alternate,
			blob-shade $shade-100 linear infinite both;
		}
	  &:after {
			content: '';
			display: block;
			position: absolute;
			width: 50%;
			height: 50%;
			bottom: 0%;
			left: 0%;
	    
			z-index: 1;
			background-color:#fff;
			border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
			transform-origin: 50% 50%;
			transform-style: preserve-3d;
			perspective: 1000px;
	    filter:blur(10px);
			animation: 
			blob-movement $move-100 ease-in-out infinite both alternate,
			blob-transform $transform-100 ease-in-out infinite both alternate,
			blob-shade $shade-100 linear infinite both;
		}
	}
}

@keyframes floating {
	0%{transform:translateY(0)}to{transform:translateY(-5%)}
}
@keyframes blob-transform
{
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 63% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}


@keyframes blob-movement
{
    0%,
  100% { transform: none; }
   50% { transform: translateY(0%) rotate(30deg); }
}

@keyframes blob-movement-minimal
{
    0%,
  100% { transform: none; }
   50% { transform: translateY(5%) rotate(10deg); }
}
 

@keyframes blob-shade
{
    0%,
  100% { background-position: 0% 50%; }
   50% { background-position: 100% 50%; }
}
@keyframes blob-shade-minor
{
    0%,
  100% { background-position: 0% 50%; }
   50% { background-position: 100% 50%; }
}


@use autoprefixer(
  browsers: "> 3%"
);