/*--------------------------------------------------------------
# CALL BANNER VARIABLES
--------------------------------------------------------------*/
.content-section.call-banner { 
  max-height: 600px;
  margin-bottom: -5px;
  @media(max-width: $seven) {
    min-height: auto;
    padding: $spacing*2 0px; 
  }
  .content-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    @media(max-width: $seven) {
      position: relative;
      float:left;
      width: 100%;
      top:initial;
      left: initial;
      transform: initial;
    }
    .content{
      max-width: 300px;
      @media(max-width: $seven) {
          text-align: center;
          color: #fff;
          display: block;
          margin:0px auto;
      }
      .title {
        text-align: left;
        color: #000; 
        margin-bottom: 10px;
         @media(max-width: $seven) {
          color: #fff;
          text-align: center;
        }
      }
      button {
        @media(max-width: $seven) {
          margin-top: 20px;
        }
      }
    }
  }
  .background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
    @media(max-width: $seven) {
      &:after {
        content:'';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color:$overlay-black;
      }
    }
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center; 
      position: absolute;
      top: 0;
      left: 0;
    }
  }
} 