/*--------------------------------------------------------------
# CARDS VARIABLES
--------------------------------------------------------------*/

.card-container {
  position: relative;
  float: left;
  width: 100%;
  .single-card {
    position: relative;
    float: left;
    border-radius: 5px;
    padding: 15px;
    background-color: $grey;
    overflow: hidden;
    cursor: pointer;
    width: 350px;
    @media(max-width: $six) {
      min-width: 80vw;
      width: 325px;
    } 
    &.x-large {
      min-height: $x-large-card; 
    }
    &.large {
      min-height: $large-card; 
      .parent-height {
        height: $large-card; 
      }
      &.podium {
        min-height: calc(#{$large-card} - #{$spacing*2}); 
        margin-top: $spacing*2; 
      }
    }
    &.medium {
      min-height: $medium-card;
      .parent-height {
        height: $large-card; 
      }
    }
    &.small  { 
      min-height: $small-card;
    }
    .title-content {
      position: absolute;
      top: 0px;
      padding: 15px;
      padding-top: $spacing;
      z-index: 2;
      color: #fff;
      h3 {
        color: #fff;
        margin-top: $spacing*0.25;
        padding-right: $spacing;
      }
    }
    .background {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      z-index: 1;
    }
    &:focus {
      outline:none;
    }
    &.dark {
      .title-content {
        h3 {
          color: $purple-100;
        }
      }
    }
    .overlay {
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 10;
        opacity: 0;
        background-color: $grey-300;
        transition: opacity 0.3s cubic-bezier(.25,.46,.45,.94) 0.3s;
        .inner {
          font-size: $p-large;
          padding:60px 30px;
          .text {
            position: relative;
            opacity: 0;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            -webkit-transition: opacity .65s ease,-webkit-transform .65s ease;
            transition: opacity .65s ease,-webkit-transform .65s ease;
            transition: opacity .65s ease,transform .65s ease;
            transition: opacity .65s ease,transform .65s ease,-webkit-transform .65s ease;
            transition: opacity .65s ease,transform .65s ease,-webkit-transform .65s ease;
            transition-delay: 0s;
          }
        }
        .read-less {
          opacity: 0;
          transition: opacity 0.3s ease-in 0s;
        }
        .link.arrow {
          opacity: 0;
          transition: opacity 0.3s ease-in 0s;
        }
    }
    &.open {
      .overlay {
        opacity:1;
        transition: opacity 0.3s ease-in 0s;
        .inner {
          .text {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            transition-delay: 0.25s;
          }
        }
      }
      .read-less {
          opacity: 1;
          transition: opacity 0.3s ease-in 0.75s;
      }
      .link.arrow {
          opacity: 1;
          transition: opacity 0.3s ease-in 0.75s;
      }
    }
  }
}
.slick-slide {
  padding: 15px;
}
