/*--------------------------------------------------------------
# DETAILED POST VARIABLES
--------------------------------------------------------------*/
.page.api {
  margin: $spacing 0px;
  position: relative;
  float: left;
  width: 100%;
}
.page.detailed-post {
  .post-carousel.card-container {
    @media(max-width: $seven) {
      margin-bottom: 20px;
    }
    .single-card.banner {
      @media(max-width: $seven) {
        min-height: 250px;
      }
    }
  }
  .title-container {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: $spacing;
    .small-container {
      max-width: 350px;
      margin: 0px auto;
      .post-date {
        margin-top: $spacing;
        color:$grey-400;
        @media(max-width: $seven) {
          margin-top: 10px;
        }
      }
    }
  }
  .body-content {
    position: relative;
    float: left;
    width: 100%;
    margin: $spacing 0px;
    color:$grey-400;
    strong {
      font-weight: normal;
      color: #000;
    }
    i {
      font-size: $p-small;
    }
    a {
      color: #000;
    }
  }
  .article-like {
    position: relative;
    float: left;
    width: 100%;
    margin: $spacing 0px;
    margin-bottom: $spacing*2;
    strong {
      font-weight: normal;
      color: #000;
      line-height: 25px;
    }
    .like {
      position: relative;
      cursor: pointer;
      float: right;
      width: 25px;
      height: 25px;
      background-image: url('/static/img/like.png');
      background-size: 80%;
      background-repeat: no-repeat;
      background-color: transparent;
      transition: none;
      padding: 0px;
      &:hover {
        background-color:transparent;
      }
      &:focus {
        background-image: url('/static/img/like-100.png');
      }
    }
  }
  .topics {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid $grey-500;
    border-top: 1px solid $grey-500;
    padding: $spacing 0px;
    .topic {
      position: relative;
      float: left;
      margin-right: 15px;
      margin-top: 7.5px;
      margin-bottom: 7.5px;
      font-size: $p-small;
      border-radius: 5px;
      padding: 12.5px 30px;
      background-color: $grey-300;
      color: #000;
      &.title {
        color: $grey-400;
        font-size: $p-normal;
        background-color: transparent;
        margin-right: 25px;
        @media(max-width: $seven) {
          margin-right: 10px;
          font-size: $p-small;
        }
      }
      @media(max-width: $seven) {
        margin-right: 10px;
      }
    }
  }
  .related-posts {
    @media(max-width: $seven) {
      text-align: center;
    }
    h3.container-title {
      text-align: center;
      color: $purple-100;
      margin-bottom: $spacing;
    }
    .single-card.large {
      width: calc(33.3% - 27.5px);
      text-align: left;
      .overline {
        font-weight: normal;
      }
      @media(max-width: $seven) {
        width: 100%;
        max-width: 375px;
        display: inline-block;
        float: none;
        margin-right: 0px;
      }
      &:nth-child(3) {
        margin-right: 0px;
      }
      &:nth-child(2n) {
        margin-right: $spacing;
        @media(max-width: $seven) {
          margin-right: 0px;
        }
      }
    }
  }
}