/*--------------------------------------------------------------
# FAQs VARIABLES
--------------------------------------------------------------*/
.faqs {
  .slick-slide {
    @media(max-width: $seven) {
      padding-left: 0px;
      padding-right: 25px;
    }
  }
  .single-card.faq { 
    cursor: pointer;
    background-color: $grey-300; 
    min-width: 300px; 
    transition: 0.3s ease min-width;
    transition-delay: 1s;
    @media(max-width: $seven) {
      min-height: 400px;
    }
    @media(max-width: $seven) {
      width:325px;
    }
    .content{ 
      color: #000; 
      padding: 20px;
      max-width: 350px;
      @media(max-width: $seven) {
        max-width: 290px;
      }
      .header {
        height:155px;
        overflow: scroll;
        margin-bottom: 10px;
        @media(max-width: $seven) {
          height: auto;
          margin-bottom: $spacing;
        }
        .h3 {
          color: #000; 
          padding-right: 0px;
        }
      }
      .answer { 
          position: relative;
          max-height: 200px;
          overflow: scroll;
          -webkit-transition: opacity .75s ease,top .75s ease;
          transition:  opacity .75s ease,top .75s ease;
          transition:  opacity .75s ease,top .75s ease;
          transition:  opacity .75s ease,top .75s ease;
          transition:  opacity .75s ease,top .75s ease;
          transition-delay: 0s;
          color: $p-color;
        }
    }
    .link.arrow {
      opacity: 0;
      i {
        color: $p-color;
      }
    }
  }

  .slick-current {
    .single-card.faq { 
      transition: 0.3s ease min-width;
      transition-delay: 0s;
      .answer {
        opacity: 1; 
        top: 0px;
        -webkit-transition: opacity .75s ease,top .75s ease;
        transition:  opacity .75s ease,top .75s ease;
        transition:  opacity .75s ease,top .75s ease;
        transition:  opacity .75s ease,top .75s ease;
        transition:  opacity .75s ease,top .75s ease;
        transition-delay: 0.5s;

      }
      .link.arrow {
        opacity: 0;
      }
    }
  }
} 
 