/*--------------------------------------------------------------
# HERO VARIABLES
--------------------------------------------------------------*/
.hero { 
  .half {
    &:nth-child(1) {
      width: 42.5%;
      padding-right: 0px;
    }
    &:nth-child(2) {
      width: 57.5%;
      padding-right: 0px;
    }
    &:nth-child(1), &:nth-child(2) {
      @media(max-width: $nine) {
        width:50%;
      }
      @media(max-width: $seven) {
        width:100%;
      }
    }
  }
  .image-container {
    position: relative;
    @media(max-width: $seven) {
      margin-top: $spacing;
    }
    .blob {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      height: 80%;
      transform: translate(-50%,-50%);
    }
    .image {
      max-width: 100%; 
      position: relative;
      max-height: 500px;
      opacity: 1;
      z-index: 20;
    }
  }
} 
.image-container.container-loading {
  opacity: 0;
  -webkit-transition: opacity .75s ease,-webkit-transform .75s ease;
  transition: opacity .75s ease,-webkit-transform .75s ease;
  transition: opacity .75s ease,transform .75s ease;
  transition: opacity .75s ease,transform .75s ease,-webkit-transform .75s ease;
  transition: opacity .75s ease,transform .75s ease,-webkit-transform .75s ease;
  &.loaded {
    opacity: 1;
  }
}