/*--------------------------------------------------------------
# IMAGE BANNER VARIABLES
--------------------------------------------------------------*/

.content-section.image-banner {
  position: relative; 
  min-height: 30vh;
  padding: 15vh 0px;
  &:before {
      content:''; 
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: $overlay-white-100;
      z-index: 2;
      opacity: 0;
      @media(max-width: $seven) {
        opacity: 1;
      }
  }
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: center center;
  }
  .content {
    position: relative;
    z-index: 3; 
    .inner {
      padding: $spacing 0px;
      max-width: 50%;
      @media(max-width: $seven) {
        max-width: 100%;
      }
      .title {
        margin-bottom: $spacing*0.5;
      }
      button {
        margin-top: $spacing;
      }
    }
    .small-description {
      max-width: 425px;
    }
  }
  &.alternative {
    .content {
      .inner {
        padding: $spacing*1.5 0px;
        float: right;
      }
    }
  }
  &.white {
    &:before {
      background-color: $overlay-black;
    }
    .content {
      .inner {
        color: #fff;
        .title {
          color: #fff;
        }
      }
    }
  }
  &.with-borders {
    border-radius: 5px;
    overflow: hidden;
  }
  &.contained {  
    padding: $spacing $spacing*1.5;
    margin-bottom: $spacing; 
  }
}
.image-banner.contained {
  position: relative;
  float: left;
  width: 100%;
  padding: $spacing;
  @media(max-width: $seven) {
    padding: $spacing 20px;
  }
  .content {
    position: relative;
    z-index: 1;
    padding: 7.5vh 0px;
    @media(max-width: $seven) {
      padding:0px; 
      text-align: center;
    }
    color: #fff;
    .title {
      color: #fff;
      margin-bottom: $spacing;
    }
    button {
      margin-top: $spacing;
    }
  }
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    object-position: center center;
  }
  &.with-borders {
      border-radius: 5px;
      overflow: hidden;
  }
}