/*--------------------------------------------------------------
# PRICING LIST VARIABLES
--------------------------------------------------------------*/
$col-size:      85px;

.pricing-list {
  margin-top: $spacing;
  padding-top: $spacing;
  .table-layout {
    .left {
      position: relative;
      float: left; 
    }
    .right {
      position: relative;
      float: right;
    }
    .col {
      position: relative;
      float: left;
      width: $col-size; 
      text-align: center;
    }
  }
  .title-area  {
    h3 {
      margin:0px;
    }
  }
  .pricing {
    .price {
      position: relative;
      display: inline-block;
      margin: 0px;

      &:before {
        content:'$'; 
        display: block;
        position: absolute;
        top: 2.5px;
        left: -7.5px;
        font-size: $p-small;
      }
      &.highlight {
        color: $purple;
      }
    }
  }
  .feature-list {
    .table-row {
      position: relative;
      float: left;
      width: 100%;
      background-color: $grey-300;
      border-radius: 5px;
      padding: 0px; 
      margin-bottom: 10px;
      .content {
        position: relative;
        float: left;
        padding: 0px 20px;
        width: calc(100% - #{$col-size*3}); 
        color: $purple-100;
        @media(max-width: $seven) {
          width: 100%;
          padding: 40px 20px;
          text-align: center;
        }
        .inner {
          display: table-cell;
          width: 100%;
          height: $col-size;
          padding: 10px; 
          vertical-align: middle;
          @media(max-width: $seven) {
            height: auto;
          }
        }
      }
      .pricing {
        @media(max-width: $seven) {
          width: 100%;
        }
        .col {
          border-right: 1px solid #fff;
          &:before {
            content:'Basic';
            top: -25px;
            left: 0px;
            padding: 0px 5px;
            position: absolute;
            font-size: $p-small;
            text-align: center; 
            width: 100%; 
            display: none;
          }
          @media(max-width: $seven) {
            width: calc(100% / 3); 
            border-top: 1px solid #fff;
            &:before {
              display: block;
            }
          }
          &:nth-child(2) {
            &:before {
              content:'Premium';
            }
          } 
          &:nth-child(3) {
            border-right: none;
            &:before {
              content:'Premium Mnth';
            }
          }
          .inner {
            display: table-cell;
            width: $col-size;
            height: $col-size;;
            padding: 10px;
            vertical-align: middle;
            text-transform: capitalize;
            @media(max-width: $seven) {
              height: auto;
              display: block;
              text-align: center;
              width: 100%;
              padding: 20px 10px;
            }
            .price {
              color: #000;
              padding: 10px;
              width: 45px;
              height: 45px;
              line-height: 1.75;
              &.no {
                color: $grey-200;
              }
              &.highlight {
                color: #fff;
                background-color: $purple;
                border-radius: 100%;
              }
            }
          }
        }
        .price {
          &:before {
            display:none;
          }
        }
      }
    }
  }
} 