/*--------------------------------------------------------------
# PRICING CARDS VARIABLES
--------------------------------------------------------------*/
  
.pricing-cards {  
  margin-top: $spacing;  
  @media(max-width: $seven) {
    text-align: center;          
  }
  .single-card.large {
    width: calc(27.5% - 15px); 
    min-width: auto;
    text-align: left;
    margin-right: 27.5px;
    margin-bottom: 27.5px;
    padding:$spacing 30px;
    cursor: default;
    background-color: $grey-300;
    &.double {
        width: calc(45% - 27.5px); 
        @media(max-width: $nine) {
         width: calc(33.3% - 27.5px);  
        }
        @media(max-width: $seven) {
          float: none; 
          width:100%;
          display: inline-block;
          margin-right:0px;
      }
    }
    @media(max-width: $nine) {
         width: calc(33.3% - 27.5px);  
    }
    @media(max-width: $seven) {
      max-width:375px; 
      float: none; 
      width:100%;
      display: inline-block;
      margin-right:0px;
      min-height:300px; 
    }
    @media(max-width: $six) {
      max-width:100%;
      min-height:200px;
    }
    &:nth-child(3n) {
      margin-right: 0px; 
    }
    .inner {
      .title {
        position: relative;
        z-index: 2;
        @media(max-width: $six) {
          max-width: 225px;
        }
      } 
      .pricing {
        position: absolute;
        bottom: 40px;
        border-bottom:1px solid rgba(171,171,171,0.2);
        width: calc(100% - 60px);
        text-align: right;
        z-index: 2;
        left: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 10px;
        .price {
          display: inline-block;
          font-size: $h-large;
          height: $spacing*1.5;
          color: $grey-400; 
          font-weight: regular; 
          position: relative;
          padding: 0px 20px;
          padding-right: 0px;
          line-height: 1;
          letter-spacing: -2px;
          @media(max-width: $six) {
            font-size: 55px;
            height: 55px;
          }
          &:before {
            content:"$";
            position: absolute;
            left: 10px;
            top: 5px;
            font-size: $p-normal;
            font-weight: normal;
            letter-spacing:normal;
          }
          &:after {
            content:"/month";
            position: absolute;
            right: -25px;
            top: 5px;
            font-size: $p-small;
            color: $p-color;
            font-weight: normal;
            letter-spacing:normal;
          }
        }
        &.free {
          .price {
            &:after {
              display:none;
            }
          } 
        }
        .subline {
          position: absolute;
          width: 100%;
          bottom: 5px;
          margin:0px;
          bottom:30px;
          font-size: $p-small;
          text-align: center;
        }
      }
      .price-label { 
        text-align: center;
        margin-bottom: $spacing;
      } 
      .feature-list {
        margin-top: 10px;
        position: relative;
        float: left;
        margin-bottom: $spacing;
        @media(max-width: $twelve) {
          font-size: $p-small;
        }
      }
    }
    &.highlight {
      color: #fff;
      .h2 {
        color: #fff;
      }
      .pricing {
        border-bottom:1px solid rgba(255,255,255,0.3);
        .price {
          color: #fff;
        }
      }
    }
  }
}

.pricing-cards-cols  { 
  @media(max-width: $seven) {
    text-align: center;          
  }
  .single-card.large {
    width: calc(33.3% - 27.5px);
    margin-right: $spacing;
    min-width: 285px;
    margin-bottom: $spacing;
    cursor: default;
    @media(max-width: $seven) {
      float: none;
      display: inline-block;
    }
    @media(max-width: $six) {
      margin-right:0px;
      width:100%;
    }
    &:nth-child(3n) {
      margin-right: 0px; 
    }
    .inner {
      position: relative;
      padding: 10px;
      z-index: 2; 
      .pricing {
        position: relative; 
        text-align: center;
        padding-bottom: $spacing;
        margin-top: $spacing;
        .price {
          display: inline-block;
          font-size: $h-large;
          color: #000;
          font-weight: bold; 
          position: relative;
          padding: 0px 20px;
          line-height: 1;
          letter-spacing: -2px;
          &:before {
            content:"$";
            position: absolute;
            left: 10px;
            top: 5px;
            font-size: $p-normal;
            font-weight: normal;
            letter-spacing:normal;
          }
          &:after {
            content:"/month";
            position: absolute;
            right: -25px;
            top: 5px;
            font-size: $p-small;
            color: $p-color;
            font-weight: normal;
            letter-spacing:normal;
          }
        }
        &.free {
          .price {
            &:after {
              display:none;
            }
          } 
        }
        .subline {
          position: absolute;
          width: 100%;
          bottom: 5px;
          margin:0px;
          bottom:30px;
          font-size: $p-small;
          text-align: center;
        }
      }
      .price-label { 
        text-align: center;
        margin-bottom: $spacing;
      } 
      .feature-list {
        margin-top: 10px;
        position: relative;
        float: left;
        margin-bottom: $spacing;
        @media(max-width: $twelve) {
          font-size: $p-small;
        }
      }
    }
  }
}

