
/*--------------------------------------------------------------
# RESOURCE STYLING
--------------------------------------------------------------*/

.single-resource {  
	.background {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $overlay-grey;
		opacity: 0;
		z-index: 1;
		transition:0.3s ease opacity 0s;
	}
	&:hover {
		.overlay {
			opacity:1;
		}
	}
	.link.arrow {
		opacity: 0;
	}
}
.single-resource {
	cursor: pointer;
	&:hover {
		.link.arrow {
			background-color: $overlay-white-100; 
			transition:0.3s ease right 0s;
			i {
				transition:0.3s ease color 0s;
			}
		}
		.read-more {
			opacity: 1;
			bottom: 22.5px;
			transition:0.3s ease all 0s;
		}
	}
}
.card-container.resources { 
	min-height: 20vh;
	.single-card.large {
		width: calc(33.3% - 20px);
		min-width: auto;
		margin-right: $spacing;
		margin-bottom: $spacing;
		cursor: default;
		&:nth-child(2n) {
			margin-right: 0px;
		}
		@media(max-width: $nine) {
			width: calc(50% - 40px);
		}  
		@media(max-width: $seven) {
			width: 100%; 
			margin-right:0px;
		} 
		.title-content {
			cursor: pointer; 
			strong.overline {
				text-transform: capitalize;
				color: #fff;
				margin-bottom: 20px;
				display: block; 
			}
			h3 {
				max-width: 300px;
			}
		}
		&.double {
			width: calc(66.6% - 20px);
			@media(max-width: $nine) {
				width: calc(50% - 40px);
			} 
			@media(max-width: $seven) {
				width: 100%; 
				margin-right:0px;
			} 
		}
		&.dark {
			&:after {
				content:'';
				position:absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				background-color: $overlay-grey;
				z-index: 1;
				opacity: 1;
				@media(max-width: $seven) {
					opacity: 0;
				}
			}
			.title-content {
				.overline {
					color: #fff;
				}
				h3 {
					color: #fff;
				}
			}
		}
	}
}