/*--------------------------------------------------------------
# SIGNUP BANNER VARIABLES
--------------------------------------------------------------*/
.content-section.signup-banner {
  padding: 15vh 0px; 
  margin-bottom: -5px;
  @media(max-width: $seven) {
    min-height: 0px; 
    padding: $spacing*2 0px;
  }
  .introduction {
    text-align: center;
    color: #fff;
    padding-bottom: 15vh; 
    h3 {
      color: #fff;
      margin-bottom: 0px;
    }
    .information {
      color: $grey-400;  
      margin-top: $spacing*0.5;
    }
  }
  .video-container {
    
  }
  #signup {
    padding-top: 15vh;
  }
  .content-area {
    position: relative;
    z-index: 2;
    @media(max-width: $seven) {
      position: relative;
      width: 100%;
    }
    .title {
      text-align: center;
      color: #fff;
    }
    .subtitle {
      text-align: center;
      margin-bottom: 20px;
      color: #fff; 
    }
  }
  .background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center; 
      position: absolute;
      top: 0;
      left: 0;
    }
  }
} 
.content-section.signup-banner.light {
  .content-area {
    .title {
      color: #000;
    }
    .subtitle {
      margin-top: 20px;
      color: $p-color;
    }
    form {
      .actions .hs-button {
        background-color: $grey;
        border:1px solid $grey;
        &:hover {
          background-color:#000;
        }
      }
      .hs_email .hs-input {
        border:1px solid $grey;
        margin-right: -1px;
        color:#000;
        &::placeholder {
          color:#000;
        }
      }
    }
  }
  #signup-newsletter .submitted-message {
    color: $p-color;
  }
}