
/*--------------------------------------------------------------
# TESTIMONIALS STYLING
--------------------------------------------------------------*/

.testimonials {
	.testimonial {
		position: relative;
		float: left;
		background-color: $grey-300;
		padding: 25px;
		width: calc(25% - #{$spacing*0.75});
		margin-right: 40px;
		margin-bottom: 40px;
		border-radius: 5px;
		&:nth-child(4n){
			margin-right: 0px;
		}
		@media(max-width: $nine) {
			width: calc(33% - #{$spacing*0.75});
			&:nth-child(3n){
				margin-right: 0px;
			}
			&:nth-child(4n){
				margin-right: $spacing;
			}
		}
		@media(max-width: $seven) {
			width:100%;
			margin-bottom:10px;
		}
		.percentage {
			margin-top: 0px;
			margin-bottom: $spacing*0.5;
			@media(max-width: $nine) {
		      margin-bottom: $spacing*0.5;
		    }
		}
		.description {
			font-size: $p-small;
			margin: 0px;
		}
		.indicator {
			position: relative;
			width: 100%;
			height: 4px;
			background-color: #fff;
			margin-top: 10px;
			span {
				position: absolute;
				height: 100%;
				background-color: $grey;
				transition:max-width 0.5s ease; 
				max-width: 0%;
			}
			&.animated {
				span {
					max-width: 100%;
				}
			}
		}

	}
	.aqua {
		.percentage {
			color: $aqua;
		}
		.indicator {
			span {
				background-color: $aqua;
			}
		}
	}
	.yellow {
		.percentage {
			color: $yellow;
		}
		.indicator {
			span {
				background-color: $yellow;
			}
		}
	}
	.purple {
		.percentage {
			color: $purple;
		}
		.indicator {
			span {
				background-color: $purple;
			}
		}
	}
	.orange {
		.percentage {
			color: $orange;
		}
		.indicator {
			span {
				background-color: $orange;
			}
		}
	}
}