
/*--------------------------------------------------------------
# ANIMATE STYLING
--------------------------------------------------------------*/

.wow {   
	&.fadeIn {   
		opacity: 0;
	    -webkit-transition: opacity .75s ease,-webkit-transform .75s ease;
	    transition: opacity .75s ease,-webkit-transform .75s ease;
	    transition: opacity .75s ease,transform .75s ease;
	    transition: opacity .75s ease,transform .75s ease,-webkit-transform .75s ease;
		transition: opacity .75s ease,transform .75s ease,-webkit-transform .75s ease;
	}
	&.fadeUp {
		-webkit-transform: translateY(30px);
	    transform: translateY(30px);
	}
	&.fadeRight {
		-webkit-transform: translateX(-30px);
	    transform: translateX(-30px);
	}
	&.fadeLeft {
		-webkit-transform: translateX(30px);
	    transform: translateX(30px);
	}
	&.animated {
		opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	}
	&.delay-50 {
		transition-delay: 0.25s; 
	}
	&.delay-100 {
		transition-delay: 0.45s;
	}
}

.rotating {
  animation: big-spin 50s linear infinite;
}

@keyframes big-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } 
}

.animate-in {
  transition: transform .3s cubic-bezier(.25,.46,.45,.94),-webkit-transform .3s cubic-bezier(.25,.46,.45,.94);
  &:hover {
    transform: scale(1.015);
  }
}
