
/*--------------------------------------------------------------
# SITE FONTS
--------------------------------------------------------------*/

@font-face {
    font-family: 'Calibre-f';
    src: url('/static/fonts/Calibre-Semibold.eot');
    src: url('/static/fonts/Calibre-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Calibre-Semibold.woff2') format('woff2'),
        url('/static/fonts/Calibre-Semibold.woff') format('woff'),
        url('/static/fonts/Calibre-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre-f';
    src: url('/static/fonts/Calibre-Thin.eot');
    src: url('/static/fonts/Calibre-Thin.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Calibre-Thin.woff2') format('woff2'),
        url('/static/fonts/Calibre-Thin.woff') format('woff'),
        url('/static/fonts/Calibre-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal; 
}

@font-face {
    font-family: 'Calibre-f';
    src: url('/static/fonts/Calibre-Regular.eot');
    src: url('/static/fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Calibre-Regular.woff2') format('woff2'),
        url('/static/fonts/Calibre-Regular.woff') format('woff'),
        url('/static/fonts/Calibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}