/*--------------------------------------------------------------
# FOOTER VARIABLES
--------------------------------------------------------------*/

#colophon {
	position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: $footer;
    background-color: $footer-bg; 
    padding:$spacing*2.5 20px;
    @media(max-width:$nine) {
        height: $footer-100;
    }
    .container {
        @media(max-width:$six) {
            padding:0px;
        } 
    }
    .footer-content{
        .half {
        	position: relative;
        	float: left;
        	width: 50%;
            @media(max-width: $seven) {
                width: 100%;
            } 
        }
        
        .branding-container {
            position: relative;
            float: left;
            width: 100%;
            margin-bottom: $spacing*3;
            @media(max-width: $seven) { 
                margin-bottom: $spacing;
            }
            .inner {
                width: 85px; 
                height: 85px;
                @media(max-width: $seven) {
                    margin: 0px auto;
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        .vision {
        	color: #fff;
            position: relative;
            float: left;
            max-width: 350px;
            @media(max-width: $seven) {
               margin-bottom: $spacing;
               width: 100%;
               text-align: center;
               float: none;
               margin: 0px auto;
               margin-bottom: $spacing;
               .inner {
                display: inline-block;
               }
            }
            @media(max-width: $six) {
                position:relative;
                float:left;
                text-align:center;
                max-width: 100%;
                .inner {
                    display: inline-block;
                    max-width: 350px;
                }
            }
        	span {
        		color: #fff;
        		opacity: 0.6;
        		display: block;
        		margin-bottom: 15px;
        	}	
        	h3 {
        		color: #fff;
        		max-width: 400px;
                @media(max-width: $seven) {
                    max-width: 100%;
                }
        	}
        }
        .social-icons {
            margin-bottom: $spacing*3;
            @media(max-width: $seven) {
                margin-bottom: 20px;
                text-align: center;
                width: 100%;
                .inner {
                    display: inline-block;
                }
            }
            span {
                margin-right: 20px;
                color: #fff;
            }
        }
        .navigation {
        	list-style: none;
        	margin:0px;
        	margin-top: $spacing;
        	padding:0px;
        	float: right;
            @media(max-width: $nine) {
                max-width: 375px;
            }
            @media(max-width: $seven) {
                max-width: 100%;
            }
            @media(max-width: $seven) {
                margin-bottom: 20px;
                text-align: center;
                width: 100%; 
                .inner {
                    display: inline-block;
                }
            }
        	li {
        		position: relative;
        		float: left;
        		margin-left: 17.5px;
                @media(max-width: $twelve) {
                    margin: 0px 5px;
                    display: inline-block;
                    float: none;
                }
        		a {
        			color:$p-color;
                    @media(max-width: $twelve) {
                        font-size: $p-small;
                    }
                    @media(max-width: $six) {
                        font-size:13px;
                    }
        			&:hover {
                        color:#fff;
                        text-decoration: none;
                    }
        		}
        	}
        }
        .signup-form {
            position: relative;
            float: left;
            width: 100%;
            margin-top: $spacing;
            @media(max-width: $seven) {
                text-align: center;
                margin-top: 10px;
            }
            form {
                position: relative;
                float: right;
                @media(max-width: $seven) {
                  display: inline-block;
                  float: none;
                  width: 100%;
                  .email {
                    width: auto;
                  }
                } 
                span {
                    color:#fff;  
                    @media(max-width: $seven) {
                        display: none;
                    }     
                }
            }
        }
    }
    .bottom {
        position: relative;
        float: left;
        width: 100%;
        border-top: 1px solid $p-color;
        margin-top: $spacing*3;
        padding-top:$spacing*1.5;
        font-size: $p-small;
        @media(max-width: $seven) {
            margin-top: $spacing;
            font-size: $p-small*0.75;
            padding-top: $spacing;
        }
        .copyright {
            position: relative;
            float: left;
        }
        .website-by {
            position: relative;
            float: right;
            a {
                color: #fff;
                &:hover {
                    text-decoration:none;
                }
            }
        }
    }

}