/*--------------------------------------------------------------
# HEADER VARIABLES
--------------------------------------------------------------*/
#masthead {  
	background-color: transparent;
	position: absolute;
	border-bottom: 1px solid $grey-300;  
	height: $header-height;
	top: 0px; 
	z-index: 100;
	float: left;
	width: 100%;
	text-align: center;
	font-size: $p-small;
	overflow: hidden;
	@media(max-width:$seven) {
    	height: 70px;
    	position: unset;
  	}
	.container-lg {
		padding-right: 0px;
		@media(max-width: $seven) {
			padding-right:15px;
		}
	}
	.logo {
		position: relative;
		float: left;
		max-width: 150px;
		margin:10px 0px;
		margin-top: $spacing;
		@media(max-width: $seven) {
			float: none;
			margin-top: 25px;
		}
	} 
 	.navigation {
		position: relative;
		margin: 0px;
		padding:10px 0px;
		margin-top: 30px;
		list-style: none;
		display: inline-block;
		li {
			position: relative;
			float: left; 
			margin-right: 30px;
			a {
				color: $p-color;
				line-height: 1;
				transition: 0.3s ease color;
				&:after {
					content:'';
					display: block;
					width: 0%;
					height: 1px;
					background-color: $grey;
					transition: 0.3s ease width;
				}
				&:hover {
					color: black;
					text-decoration: none;
					&:after {
						width: 100%;
					}
				}
				&:focus {
					outline: none;
					text-decoration:none;
					color: inherit;
				}
			}
			&.active {
				a {
					color: #000;
				}
			}
		}
	}
	&.is-light {
		border-bottom: 1px solid rgba(238,238,238,0.1);
		@media(max-width:$seven) {
			background-color: $purple-200;
			background-image: linear-gradient(to right, #551b78, #6232D2);
		}
		.navigation {
			li {
				a {
					color: $purple-200; 
					&:hover {
						color:#fff;
					}
				}
				&.active {
					a {
						color: #fff;
					}
				}
			}
		}
		button {
			background-color: transparent;
			color: #fff;
			border:1px solid #fff;
			&:hover {
				background-color:#fff;
				color: #000;
			} 
		}
	}
	.signup-container {
		position: relative;
		float: right;
		margin-bottom: -1px;
		button {
			margin-top: 25px;
			margin-right: 0px;
		}
		.login, .signup {
			color: $p-color;
			height: $header-height;
			line-height: $header-height;
			position: relative;
			border:1px solid $grey-300;
			margin-right: -1px; 
			transition: 0.3s ease all;
			float: left;
			width:$header-height;
			padding:0px 20px;
			padding-top:60px;
			line-height:1;
			&:after {
				content:'';
				position: absolute;
				bottom:0px;
				width: 100%;
				height: 0px;
				background: #000;
				transition: 0.1s ease height;
				left: 0px;
			}
			&:before {
				content:'';
				position: absolute;
				width: 25px;
				height: 25px;
				left: 25px;
				top: 50%;
				transform: translateY(-50%);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url('/static/img/header/login.png');
				transition: 0.3s ease all;
				width:32.5px;
				height:32.5px;
				left:50%;
				top:25px;
				transform: translateX(-50%);
			}
			&:hover {
				background-color: #000;
				text-decoration: none;
				color: #fff;
				&:before {
					background-image: url('/static/img/header/login-100.png');
				}	
			}
			&:active {
				outline:none;
				text-decoration: none;
			}
		}
		.signup {
			&:before {
				background-image: url('/static/img/header/signup.png');
			}
			&:hover {
				&:before {
					background-image: url('/static/img/header/signup-100.png');
				}	
			}
		}
	}
}