    
/*--------------------------------------------------------------
# MOBILE STYLING
--------------------------------------------------------------*/
body {
	.tablet-hide {
		@media(max-width: $nine) {
			display: none;
		}
	} 
	.tablet-show {
		display: none;
		@media(max-width: $nine) {
			display: block;
		}
	} 
	.mobile-show {
		display: none;
		@media(max-width: $nine) {
			display: block;
		}
	}
	.mobile-showing {
		display: none;
		@media(max-width: $seven) {
			display: block;
		}
	}  
	.mobile-hide {
		@media(max-width: $seven) {
			display: none !important;
		}
	} 
	.desktop-hide { 
		@media(min-width: $seven) {
			display: none !important;
		} 
	} 
} 

/*--------------------------------------------------------------
# MOBILE MENU STYLING
--------------------------------------------------------------*/
#mobile-menu {
	position: fixed; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 100;
	max-height: 0px;
	overflow: hidden;   
	.logo {
		width: 150px;
		height: 20px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('/static/img/logo-100.png');
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin: 0px;
		top: 25px;
		opacity: 0;
		transition: 0.3s ease opacity;
		transition-delay: 0s;
	}  
	.mobile-navigation { 
		position: absolute;  
		top: 50%;
		left: 50%;
		margin: 0px;
		list-style: none;
		padding: 0px;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 300px;
		li {
			width: 100%;
			margin-bottom: 20px;
			position: relative;
			
			opacity: 0;
			-webkit-transform: translateY(30px);
	    	transform: translateY(30px);
		    -webkit-transition: opacity .75s ease,-webkit-transform .75s ease;
		    transition: opacity .75s ease,-webkit-transform .75s ease;
		    transition: opacity .75s ease,transform .75s ease;
		    transition: opacity .75s ease,transform .75s ease,-webkit-transform .75s ease;
			transition: opacity .75s ease,transform .75s ease,-webkit-transform .75s ease;

			a {	
				position:relative;
				&:after {
					display: block;
					content: '';
					width: 0%;
					height: 2px;
					background-color: #fff;
					opacity: 0.3;
					position: absolute;
					left: 0px;
					bottom: 0px;
					transition: 0.3s ease width;
				}
				&:hover {
					text-decoration:none;
					&:after {
						width:100%;
					}
				}
			}
			&.active {
				a {
					&:after {
						width:100%;
					}
				}
			}
		}
	}
	&.open {
		max-height: 100%;
		.logo {
			opacity: 1;
			transition: 0.3s ease opacity;
			transition-delay: 0.75s;
		}
		.mobile-navigation {
			li {
				opacity: 1;
			    -webkit-transform: none;
			    transform: none;
				&:nth-child(1) {
					transition-delay: 0.1s; 
				}
				&:nth-child(2) {
					transition-delay: 0.2s; 
				}
				&:nth-child(3) {
					transition-delay: 0.3s; 
				}
				&:nth-child(4) {
					transition-delay: 0.4s; 
				}
				&:nth-child(5) {
					transition-delay: 0.5s;
				}
				&:nth-child(6) {
					transition-delay: 0.6s; 
				}
				&:nth-child(7) {
					transition-delay: 0.7; 
				}
				
			}
		}	
	}
}
.mobile-menu-container {
	position: relative;
}

#mobile-menu-container {
	font-size: 6px;
}	
.is-light {
	.mobile-menu-icon {
		.bar {
		&, &::before, &::after {
			background: #fff;
		}
	  }
	}
}
.mobile-menu-icon {
	transition: 0.1s transform linear;
	position: absolute;
	z-index: 101;
	background: 0;
	float: left;
	height: 2.3em;
	width: 3.5em;
	outline: 0;
	padding: 0;
	border: 0;
	top: 27.5px;
	cursor: pointer;

	.bar {
		&, &::before, &::after {
			transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
			position: absolute;
			background: #000;
			margin: auto;
			width: 100%;
			height: 0.25em;
			content: '';
			top: 50%;
			left: 0;
		}

		& {
			margin-top: -0.2em
		}

		&::before {
			top: -1em;
		}

		&::after {
			top: 1em;
		}

		&::before,
		&::after {
			transform: rotate(0deg);
		}

		.active & {
			background: 0;

		}
	}
	&.open {
		.bar {
			background:0;
			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}

			&::before,
			&::after {
				top: 0;
				background-color: #fff;
			}

			&,
			&::before,
			&::after {
				transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
			}
		}
	}
}


