
/*--------------------------------------------------------------
# PAGE STYLING
--------------------------------------------------------------*/
.page {   
	max-width: 100vw;  
	padding-top: $header-height;
	@media(max-width: $seven) {
		padding-top: 70px;			
	}
	&.without-padding {
		padding-top: 0px;
	}
	.panel {
		position: relative; 
		float: left;
		width: 100%;
		padding: $spacing 0px;   
		@media(max-width: $seven) {
			padding: 20px 0px;
			margin-bottom: 0px;
		}
	}
	.content-section {
		position: relative;
		float: left;
		min-height: 50vh;
		width: 100%;
		padding: $spacing*2 0px; 
		&.with-animation {
			@media(max-width: $seven) {
				max-width: 100vw;
				overflow: hidden;
			}
		}
		@media(max-width: $seven) {
			padding:$spacing 0px;
		}
		&.small {
			min-height: 30vh; 
		}
		&.full-height {
			min-height: 80vh; 
		}
		&.no-overflow {
			overflow: hidden;
		}
		&.background-purple {
			background-color: $purple-100;
			margin-bottom: -5px;
			h2.title {
				color: #fff;
				margin-top: 5px;
			}
		}
		&.background-grey {
			background-color: $grey-300;
			.subtitle {
				margin-top: 20px;
				font-size: $p-normal;
				
			}
		}
		&.with-profile-image {
			padding: $spacing 0px;
			.title-container {
				position: relative;
				float: left;
				padding: $spacing 0px;
				max-width: 325px;
			}
			@media(max-width: $seven) {
				
				.title-container {
					float: left;
					padding: 0px;
					margin: 0px auto;
					padding-bottom: 0px;
				}
			}
			.tagline {
				position: relative;
				float: right;
				width: 50%;
				padding: $spacing 0px;
				@media(max-width: $seven) {
					padding-top: 20px;
					padding-bottom: 0px;
				}
				.inner {
					max-width: 500px;
					float: right;
					width: 100%;
					@media(max-width: $twelve) {
						max-width: 400px;
					}
				}
				@media(max-width: $seven) {
					width: 100%;
					.inner {
						float: none;
						margin: 0px auto;
					}
				}
			}
			.profile-image {
				max-height: 200px;
				position: relative;
				float: right;
				@media(max-width: $seven) {
					float: none;
					margin: 0px auto;
				}
			}
		}
		&.user-content {
			strong {
				font-weight: normal;
				color: #000;
			}
		}
		.title-with-link {
			padding-bottom: 10px;
			position: relative;
			float: left;
			width: 100%;
			margin-bottom: $spacing;
			.title {
				position: relative;
				float: left;
				@media(max-width: $seven) {
					margin-top: 7.5px;
				}
			}
			button {
				position: relative;
				float: right;
			}
		}
		.content-with-intro {
			.intro {
				position: relative;
				float: left;
				width: 30%;
				padding-top: $spacing*2;
				@media(max-width: $seven) {
					padding-top: 0px;
				    margin-bottom: $spacing;
				    width: 100%;
				    padding: 0px 0px;
				}
				&.no-padding-tablet {
					@media(max-width: $nine) {
						padding: 0px;
					}
				}
			}
			.content {
				position: relative;
				float: left;
				width: 70%;
				padding-left: $spacing*1.5;
				@media(max-width: $seven) {
				    width: 100%;
				    padding-left: 0px;
				}
				.single-image {
					max-width: 100%;
					margin-left: 15px;
					border-radius: 5px;
					@media(max-width: $seven) {
						margin-left: 0px;
					}
				}
			}
		}
		&.text-banner { 
			padding: 15vh 0px;
			min-height: auto;  
			@media(max-width: $seven) {
				padding: $spacing 0px;
			}
			&.padding-right-mobile {
				@media(max-width: $seven) {
					padding-right: 10px;
				}
			}
			.internal-container {
				max-width: 400px;
				h2 {
					margin-bottom: $spacing;
				}
			}  
			h2 {
				span {
					display: block;
				}
			}
			.title {
				  
			}
			&.title-right {
				.title {
					position: relative;
					float: right;
					@media(max-width: $seven) {
				      float:left;
				    }
				}
				.overline {
					position: relative;
					float: left;
				}
			}
		}
		&.with-image {
			padding: $spacing*2 0px;
			.internal-container {
				padding: $spacing*2.5 0px;
				margin:0px auto;
				@media(max-width: $twelve) {
					padding: $spacing*1.5 0px;
				}
				@media(max-width: $nine) {
					padding: $spacing*1 0px;
					padding-right:15px;
				}
			}
			img {
				width: 100%;
			}
		}
		&.image-right {
			.container-lg {
				padding-right: 0px;
				@media(max-width: $seven) {
					padding-left: 0px;
				}
			}
		}
		&.mobile-no-padding-top {
			@media(max-width: $seven) {
				padding-top: 0px;
			}
		}
		&.mobile-no-padding-bottom {
			@media(max-width: $seven) {
				padding-bottom: 0px;
			}
		}
		&.padding-top-extra {
			padding-top: $spacing*4;
			@media(max-width: $seven) {
				padding-top: $spacing;
			}
		}
		&.margin-bottom-mobile {
			@media(max-width: $seven) {
				margin-bottom: 20px;
			}
		}
		&.no-padding-top {
			padding-top: 0px;
		}
		&.no-padding-bottom {
			padding-bottom: 0px;
		}
		&.no-min-height {
			min-height: initial;
		}
		&.tabs {
			padding-top: 0px;
		}
		&.with-tagline {
			@media(max-width: $nine) {
				padding-top: $spacing;
				h3 {
					text-align: center;
					margin-bottom: $spacing;
				}
			}
		}
		.half {
			position: relative;
			float: left;
			width: 50%; 
			@media(max-width: $seven) {
				width: 100%;
			}
			&.padding-right {
				padding-right: $spacing;
				@media(max-width: $seven) {
					padding-right: 0px;
				}
			}
			.image {
				max-width: 100%;
			}
			&.full-tablet {
				@media(max-width: $nine) {
					width: 100%;
				}
			}
		}
		.third {
			position: relative;
			float: left;
			width: 30%; 
			@media(max-width: $seven) {
				width: 100%;
			}
		}
		.two-thirds {
			position: relative;
			float: left;
			width: 70%;
			@media(max-width: $seven) {
				width: 100%;
			}
		}
		.title-area {
			position: relative;
			float: left;
			width: 100%;
			margin-bottom: $spacing;
			@media(max-width: $seven) {
				margin-bottom: 0px;
			}
			&.centered {
				text-align: center;
				@media(max-width: $seven) {
					text-align: left;
				}
			}
			.title {
				position: relative;
				float: left;
				margin-top: 0px;
			}
			.subtitle {
				position: relative;
				float: left;
				width: 100%;
				margin: 0px;
				margin-top: 20px;
				padding-right: $spacing*1.5;
			}
			.link {
				position: relative;
				float: right;
				color:$p-color;
				i {
					font-size: $p-normal*0.65;
					margin-left: 10px;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
		.content-area {
			.text {
				margin-top: $spacing;
			}
			button {
				margin-top: $spacing;
			}
		}
	}
	.title-container {
		h1 {
		  font-weight: 100;
		  text-align: center;
		}
	}
}