
/*--------------------------------------------------------------
# SITE STYLING          
--------------------------------------------------------------*/
                       
html {           
    position: relative; 
    min-height: 100%;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
} 
body {
  margin: 0;
  padding: 0;
  font-family: 'Calibre-f', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $p-normal;
  color:$p-color;
  margin-bottom: $footer;
  width: 100%;
  display: inline-block; 
  @media(max-width:$nine) {
    margin-bottom: $footer-100; 
  }
  &.menu-open {
    position: fixed;
    overflow: hidden;
  } 
}

h1, .h1 {
  font-size: $h1-size;
  letter-spacing: $h1-spacing;
  font-weight: $h1-weight;
  line-height: $h1-height; 
  color: $h1-color;
  margin:0px;  
  @media(max-width: $seven) {
    font-size: $h1-size*0.85;
  }
}
h2, .h2 {
  font-size: $h2-size;
  letter-spacing: $h2-spacing;
  font-weight: $h2-weight;
  line-height: $h2-height;
  color: $h2-color;
  margin:0px;
  &.white {
    color: #fff;
  }
  &.double-height {
    line-height: $h2-height*1.25;
  }
  @media(max-width: $seven) {
    font-size: $h2-size*.9;
  }
}
h3, .h3 {
  font-size: $h3-size;
  letter-spacing: $h3-spacing;
  font-weight: $h3-weight;
  line-height: $h3-height;
  color: $h3-color;
  @media(max-width: $seven) {
    font-size: $h3-size*.9;
  }
}

.grey-bg {
  background-color: $grey-300;
}

.container-lg {
  max-width: 1400px;
  padding: 0px 15px;
  width: 100%;
  margin:0px auto;
}
.container-st {
  max-width: 1100px;
  padding: 0px 30px;
  width: 100%;
  margin:0px auto;
  @media(max-width: $seven) {
    padding: 0px 15px;
  }
}
.container-rg {
  max-width: 750px;
  padding: 0px 15px;
  width: 100%;
  margin:0px auto;
  &.left-align {
    float: left;
    padding: 0px;
  }
}
.container-md {
  max-width: 550px;
  padding: 0px 15px;
  width: 100%;
  margin:0px auto;
  &.left-align {
    float: left;
    padding: 0px;
  }
}
.container-sm {
  max-width: 465px;
  padding: 0px 15px;
  width: 100%;
  margin:0px auto;
  &.left-align {
    float: left;
  }
}