
/*--------------------------------------------------------------
# SITE WIDE VARIABLES                
--------------------------------------------------------------*/
               
/*  Colours  */   
$teal:					rgba(144,208,197,0.5);   

$aqua:					#41ddc1;
$yellow:				#f1de64;
$purple:				#e02abd;
$orange:				#fa905d;

$purple:				#7b5be7;  
$purple-100:			#110c3d;
$purple-200:			#a3a3b2;
 
$grey:					#e9e9eb;
$grey-100:				#808080;
$grey-200:				#d0d0d0;
$grey-300:				#f5f7fc; 
$grey-400:				#ababab;
$grey-500:				#eeeef0;

$overlay-white:			rgba(255,255,255,.3);
$overlay-white-100:		rgba(255,255,255,.6);
$overlay-white-200:		rgba(255,255,255,.95);


$overlay-grey:			rgba(153,153,153,0.5); 	
$overlay-grey-100:		rgba(153,153,153,0.3); 	

 
$overlay-black:			rgba(0,0,0,0.5);

/*  Mobile Sizes  */     

$sixteen:				1600px;      
$twelve:				1200px;
$nine:					991px;
$seven:					768px;
$six:					600px;	
$four:					450px;  

/*  Content Variables  */

$spacing:			40px;

/*  Card Variables  */
$x-large-card:		550px;
$large-card:		450px;
$medium-card:		400px;
$small-card:		200px;

/*  Header  */

$header-bg:			#fff; 
$header-height:		100px;

/* Footer  */

$footer-bg:			#000; 

$footer:			700px;   
$footer-100:		800px;   

/*  Text Variables  */

$h1-size:			44px;
$h1-spacing:		-.5px;
$h1-height:			1;
$h1-color:			#000;
$h1-weight:			normal;

$h2-size:			37px;
$h2-spacing:		-0.5px;
$h2-height:			1;
$h2-color:			#000;
$h2-weight:			normal;

$h3-size:			26px;
$h3-spacing:		0px;
$h3-height:			1.25;
$h3-color:			#000;
$h3-weight:			normal;

$h-large:			87px;

$p-large:			24px;
$p-normal:			18px;
$p-small:			15px;

$p-color:			$grey-100;
