/*--------------------------------------------------------------
# PRICING PANELS 
--------------------------------------------------------------*/
.pricing-panels {
  .single-panel {
    position: relative;
    float: left;
    width: calc(40% - 20px);
    margin-right: $spacing;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    &:nth-child(2) {
      margin-right: 0px;
      width: calc(60% - 20px);
      @media(max-width: $seven) {
        width: 100%;
      }
    }
    @media(max-width: $seven) {
      width:100%;
      margin-bottom:$spacing;
    }
    .header {
      position: relative;
      padding:$spacing;
      padding-bottom: 30px;
      @media(max-width: $seven) {
        padding: 20px;
        min-height: 200px;
        &.second {
          padding-right: 0px;
        }

      }
      .inner {
        position: relative;
        z-index: 2;
        color: #fff;
        @media(max-width: $nine) {
          margin-top: 50px;
        }
        @media(max-width: $six) {
          margin-top: 10px;
        }
        &.margin-mobile {
          @media(max-width: $nine) {
            margin-top: $spacing*1.5;
          }
          @media(max-width: $six) {
            margin-top: $spacing*2;
          }
        }
        .title {
          color: #fff;
          margin-bottom: 5px;
          margin-top: 0px;
          @media(max-width: $seven) {
            font-size: $h2-size;
            line-height: 1;
            margin-bottom: 0px;
            margin-top: 5px;
          }
        }
        .description {
          margin: 0px;
          &.dark {
            color: $purple-200;
            @media(max-width: $seven) {
              color: #fff;
            }
          }
        }
      }
      nav.tab-nav {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 3;
        @media(max-width: $six) {
            width:100%;
        }
        .tab {
          position: relative;
          float: left;
          cursor: pointer;
          font-size: $p-small;
          padding: 20px 40px;
          height: 60px;
          width: 160px;
          line-height: 1;
          text-align: center;
          color: #fff;
          margin-right: -1px;
          border:1px solid rgba(255,255,255,.1);
          @media(max-width: $nine) {
             
          }
          @media(max-width: $seven) {
             font-size: $p-small*0.85;
             padding: 20px 40px;

          }
          @media(max-width: $six) {
            width:50%;
          }
          span {
            position: absolute;
            top: 50%;
            display: block;
            margin-top: 2.5px;
            transform: translateY(-50%);
            @media(max-width: $six) {
              position:absolute;
              left:0px;
              width:100%; 
            }
            strong {
              color: $aqua;
              font-weight: normal;
            }
          }
          &:hover {
             background-color: rgba(255,255,255,.2);
          }
          &.active {
             background-color: rgba(255,255,255,.2);
          }
        }
      }
      .pricing {
        position: relative;
        text-align: right;
        z-index: 2;
        padding-bottom: $spacing*1.5;
        &.pos-2 {
          padding-top: $spacing*1.5;
          padding-bottom: 0px;
          padding-right: 50px;
          @media(max-width: $nine) {
            padding-bottom: 20px;
          }
          @media(max-width: $seven) {
            position:relative;
            bottom:0px;
            right:0px;
            padding-bottom: 0px;
          }
          @media(max-width: $six) {
            padding-top:$spacing;
          }
        }
        @media(max-width: $seven) {
          padding-bottom: 0px;
          position:absolute;
          right:20px;
          bottom:20px;
        }
        .price {
          display: inline-block;
          font-size: $h-large;
          height: $spacing*1.5;
          color: #fff; 
          font-weight: regular; 
          position: relative;
          padding-left: 20px;
          line-height: 1;
          letter-spacing: -2px;
          @media(max-width: $seven) {
            font-size: $h-large*0.75;
            height: $spacing*1.25;
          }
          &:before {
            content:"$";
            position: absolute;
            left: 10px;
            top: 5px;
            font-size: $p-normal;
            font-weight: normal;
            letter-spacing:normal;
          }
        }
        .tagline {
          color: #fff;
          padding: 0px;
          right: 0px;
          position: absolute;
          z-index: 3;
          right: 0px;
          max-width: 40px;
          text-align: left;
          line-height: 1.15;
          top: 65px;
          @media(max-width: $seven) {
            font-size: $p-small;
          }
          @media(max-width: $six) {
            font-size: $p-small*.75;
            top:45px;
          }
        }
        .breakdown {
          color: #fff;
          float: left;
          text-align: left;
          position: absolute;
          margin: 0px;
          bottom: 0px;
          font-size: $p-small;
          @media(max-width: $nine) {
            max-width:125px;
            bottom:20px;
          }
          @media(max-width: $seven) {
            left: 0px;
            bottom:5px;
          }
        }
      }
      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        object-fit: cover;
        object-position: center center;
      }
    }
    .content {
      position: relative;
      float: left;
      width: 100%;
      padding: $spacing;
      padding-bottom: 25px;
      @media(max-width: $seven) {
        max-height: 70px;
        padding: 25px;
        transition: max-height 0.3s ease;
        overflow: hidden;
        &.open {
          max-height: 1000px;
          header {
            .title {
              &:before {
                content:'-';
              }
            }
          }
        }
      }
      header {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        @media(max-width: $seven) {
          cursor: pointer;
          margin-bottom: 25px;
        }
        .title {
          color: #000;
          position: relative;
          float: left;
          margin-top: 10px;
          @media(max-width: $seven) {
            width: 100%;
            margin-top: 0px;
            &:before {
              content:'+';
              position: relative;
              float: right;
            }
          }
        }
      }
      .tabs {
        .tab {
          display: none;
          &.active {
            display: block;
          }
        }
      }
      button.button {
        margin: 20px 0px;
        background-color: $grey-300; 
        color: #000;
        &:hover {
          background-color:#000;
          color: #fff;
        }
      }
    }
  }
}