/*--------------------------------------------------------------
# HERO VARIABLES
--------------------------------------------------------------*/
.contact-card {
  .title {
    margin-bottom: $spacing*2;
    @media(max-width: $seven) {
      margin-bottom: $spacing;
    }
  }
  .social-icons {
    float: left;
    width: auto;
    span {
      color: #000;
      margin-right: 20px;
    }
    .icon {
      background-color: #fff;
      margin-right: 10px;
      &:hover {
        background-color:#e6eaf8;
      }
    }
  }
  .contact-information {
    max-width: 90%;
    float: right;
    width: 100%;
    @media(max-width: $seven) {
      margin-top: $spacing;
      float: left;
      max-width: 100%;
    }
    .line {
      padding-bottom: 20px;
      margin-bottom: 25px;
      border-bottom:1px solid #e6eaf8;
      strong {
        font-weight: normal;
        color: #000;
        margin-right: 5px;
      }
    }
  }
}