/*--------------------------------------------------------------
# METHOD COLUMNS VARIABLES
--------------------------------------------------------------*/
.method-columns {
  .method-container {
    position: relative;
    z-index: 1;
  }
  .article {
    margin: $spacing*2 0px;
    position: relative;
    float: left;
    width: 100%;
    @media(max-width: $seven) {
      margin: 0px;
      margin-bottom: $spacing*2;
    }
    &.reverse {
      .half {
        position: relative;
        float: right;
        &.content {
          padding-left: $spacing;
          padding-right: 0px;
          @media(max-width: $nine) {
            padding-left: 0px;
          }
          .inner {
            float: right;
            @media(max-width: $nine) {
              float: none;
            }
          }
        }
        .image-container {  
          float: left;
          @media(max-width: $nine) {
            float: none;
          }
        }
      }
      &.content-padding-1 {
        .content {
          padding-top: $spacing*4;
          @media(max-width: $twelve) {
             padding-top: $spacing*3;
          }
          @media(max-width: $nine) {
            padding-top: 0px;
          }
        }
      }
    }
    &.content-padding-2 {
      .half.content {
        padding-top: $spacing*2;
        @media(max-width: $twelve) {
           padding-top: $spacing*2;
        }
        @media(max-width: $nine) {
          padding-top: 0px;
        }
      }
    } 
    .half {
      position: relative;
      @media(max-width: $nine) {
          width: 100%;
          position: relative;
          float: right;
      }
      &.content {
        padding-right: $spacing;
        color: $purple-200;
        @media(max-width: $twelve) {
          padding-top: 0px;
        }
        @media(max-width: $nine) {
          padding-right:0px;
        }
        .inner {
          max-width: 400px;
          @media(max-width: $nine) {
            max-width: 500px;
            float: none;
            margin: 0px auto;
          }
          .title {
            color: #fff;
            margin-bottom: 20px;
          }
          strong {
            color: #fff;
            font-weight: normal;
            &.bold {
              font-weight: bold;
            }
          }
        }
      }
      .image-container {  
          max-width: 600px;
          float: right;
          @media(max-width: $nine) {
            float: none;
            margin: 0px auto;
            margin-bottom: $spacing;
          }
          .image {
            max-width: 100%; 
            border-radius: 5px;
          }
      }
    }
  }
  img.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    top:0px;
    left: 0px;
    z-index: 0;
  }
}