/*--------------------------------------------------------------
# HOME VARIABLES
--------------------------------------------------------------*/ 
.home {  
	.content-section { 
		max-width: 100vw;    
		overflow: hidden-x;  
	}
	#banner {
		padding-top: $spacing*3; 
		background-image: none;  
		background-size: auto 100%;
		background-position: right;
		background-repeat: no-repeat;
		@media(max-height: $nine) {
			padding-top: $spacing*2;
		}
		@media(max-width: $seven) {
			padding-top: $spacing*1.5;
		}
		.half {
			@media(max-width: $seven) {
				float:right;
				padding-right: 0px;
			}
			.banner-content {
				margin-top: $spacing*1.5;
				max-width: 400px;
				@media(max-width: $nine) {
					margin-top: 0px;
				}
				@media(max-width: $seven) {
					display: block;
					margin: 0px auto;
					text-align: center;
				}
				h1 {
					margin-top: $spacing;
					margin-bottom: $spacing*0.5;
					@media(max-width: $seven) {
						margin-top: 0px;
					}
				}
				button {
					margin-top: $spacing*0.5;
				}
			}
		} 
	} 
	.animating-container {
		margin: 0px auto;
		@media(max-width: $seven) {
			margin-top: $spacing; 
		}   
		&:after {
			content:'';
			display: block;
			position: absolute;
			border-radius: 100%;
			bottom: -100px;
			opacity: 0.2;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			height: 10px;
			background: #000; 
			-webkit-filter: blur(15px);
			-moz-filter: blur(15px);
			-o-filter: blur(15px);
			-ms-filter: blur(15px);
			filter: blur(15px);
		}
	}
	#introduction {
		text-align: center;
	}
	#backed {   
		text-align: center;
		.title {
			margin-top: $spacing; 
		}
		.image {
			width: 165px; 
			height: 205px;
			margin:0px auto;
			img {
				width: 100%;
			}
		}
	}
	#performance  {
		@media(max-width: $seven) {
			padding-bottom: $spacing*8;
		}
		.float {
			position: absolute;
			right: 0px;
			top:0px;
			transform: translateY(-50%);
			width: 175px;
			height: 300px;
			@media(max-width: $seven) {
				
				bottom: 0px;
				top: auto;
				transform: none;
				.wow {
					transform: none !important;
					-webkit-transform: none !important;
				}
			}
			img {
				max-width: 100%;
				max-height: 100%;
				float: right;
			}
		}
		.container-lg {
			padding-left: 0px; 
			@media(max-width: $seven) {
				padding-right: 0px;
			}
		}
		.video-container { 
			width: 100%;
			min-height: 400px;
			background-color: $grey;
			border-radius: 3px;
			position: relative;
			cursor: pointer;
			img {
				width: 100%;
			}
		}
		.half.content {
			padding-left: $spacing; 
			padding-top: $spacing*3;
		}
	}
	#resources {
		min-height: initial;
		padding-bottom: $spacing*3;
		@media(max-width: $seven) {
			padding-top: 0px;
			padding-bottom: $spacing;
		}
		.content {
			padding-top: $spacing*2;
			@media(max-width: $twelve) {
				padding-top: $spacing;
			}	
			@media(max-width: $seven) {
				padding-top: 0px; 
				padding-bottom: $spacing;
			}
		}
		.resources {
			padding-left: $spacing*1.5;
			@media(max-width: $seven) {
				padding-left: 0px; 
			}
			.single-resource {
				pointer-events: none;
				width: calc(50% - 40px);
				margin-right: $spacing;
				height: 400px;
				background-color: $grey;
				margin-bottom: $spacing;
				border-radius: 3px;
				position: relative;
				overflow: hidden;
				float: left;
				@media(max-width: $seven) {
					width: calc(50% - 20px);
					margin-right: 20px;
				}
				&.half {
					height: 200px - 20px; 
				}
			}
		}
	}
}